chatflows/ai-deal-desk-v3.example.yml
app:
  description: crm 多智能助手
  icon: briefcase
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: advanced-chat
  name: AI Deal Desk - V3 Stable Enhanced
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.55@d64be9924f2edf13fd5329fc03fdfc0d0e0e36e0aef5321c4942f0845de8c030
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.58@6fdcfd505e388601b4643f78bf73c5ed5510b24e3b35af0582bc613f183eee6b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 当前待确认写入草稿 ID
    id: 0fcbcff0-3c62-4f0f-a2cb-7d4f88b54811
    name: active_writeback_id
    selector:
    - conversation
    - active_writeback_id
    value: ''
    value_type: string
  - description: 当前待确认写入草稿状态
    id: 488a2f8d-e971-4db0-a3bd-0450e10c2ae2
    name: active_writeback_status
    selector:
    - conversation
    - active_writeback_status
    value: ''
    value_type: string
  - description: 当前待确认写入草稿类型
    id: f6d7d452-19c5-403b-9f47-3088d5c8db0a
    name: active_writeback_type
    selector:
    - conversation
    - active_writeback_type
    value: ''
    value_type: string
  - description: 当前待确认写入草稿 payload
    id: 54f17a72-c725-4aeb-a63e-c5cc8d529436
    name: active_writeback_payload_json
    selector:
    - conversation
    - active_writeback_payload_json
    value: ''
    value_type: string
  environment_variables:
  - description: 'CordysCRM AI Deal Desk Dify Tool Gateway base URL. Example: http://localhost:8081/anonymous/ai/deal-desk/dify-tools'
    id: b0766b1f-b993-4693-b455-b086070c759e
    name: CRM_TOOL_BASE_URL
    selector:
    - env
    - CRM_TOOL_BASE_URL
    value: https://your-domain.example.com/anonymous/ai/deal-desk/dify-tools
    value_type: string
  - description: CordysCRM AI Deal Desk Dify Tool Gateway token.
    id: 68ebf210-6a89-4bd7-9151-7792404e05ac
    name: DIFY_TOOL_TOKEN
    selector:
    - env
    - DIFY_TOOL_TOKEN
    value: replace-with-your-own-token
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: start-source-attachment_image_state-target
      selected: false
      source: start
      sourceHandle: source
      target: attachment_image_state
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: attachment_image_state-source-attachment_image_gate-target
      selected: false
      source: attachment_image_state
      sourceHandle: source
      target: attachment_image_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: attachment_image_gate-has_images-attachment_image_summary-target
      selected: false
      source: attachment_image_gate
      sourceHandle: has_images
      target: attachment_image_summary
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: variable-aggregator
      id: attachment_image_gate-false-attachment_image_text-target
      selected: false
      source: attachment_image_gate
      sourceHandle: 'false'
      target: attachment_image_text
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: attachment_image_summary-source-attachment_image_text-target
      selected: false
      source: attachment_image_summary
      sourceHandle: source
      target: attachment_image_text
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: attachment_image_text-source-attachment_context-target
      selected: false
      source: attachment_image_text
      sourceHandle: source
      target: attachment_context
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: attachment_context-source-input_parse-target
      selected: false
      source: attachment_context
      sourceHandle: source
      target: input_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: input_parse-source-conversation_context-target
      selected: false
      source: input_parse
      sourceHandle: source
      target: conversation_context
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: agent
      id: conversation_context-source-task_planner-target
      selected: false
      source: conversation_context
      sourceHandle: source
      target: task_planner
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: agent
        targetType: code
      id: task_planner-source-task_plan_normalize-target
      selected: false
      source: task_planner
      sourceHandle: source
      target: task_plan_normalize
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: task_plan_normalize-source-task_type_gate-target
      selected: false
      source: task_plan_normalize
      sourceHandle: source
      target: task_type_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: task_type_gate-general_chat-protocol_adapter-target
      selected: false
      source: task_type_gate
      sourceHandle: general_chat
      target: protocol_adapter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: task_type_gate-image_answer-image_answer-target
      selected: false
      source: task_type_gate
      sourceHandle: image_answer
      target: image_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: task_type_gate-business_task-evidence_router-target
      selected: false
      source: task_type_gate
      sourceHandle: business_task
      target: evidence_router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: task_type_gate-false-simple_answer-target
      selected: false
      source: task_type_gate
      sourceHandle: 'false'
      target: simple_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: evidence_router-source-crm_read_gate-target
      selected: false
      source: evidence_router
      sourceHandle: source
      target: crm_read_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: crm_read_gate-call_crm-crm_read_request-target
      selected: false
      source: crm_read_gate
      sourceHandle: call_crm
      target: crm_read_request
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: crm_read_gate-false-crm_read_skip-target
      selected: false
      source: crm_read_gate
      sourceHandle: 'false'
      target: crm_read_skip
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: crm_read_request-source-crm_read_merge-target
      selected: false
      source: crm_read_request
      sourceHandle: source
      target: crm_read_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: crm_read_skip-source-crm_read_merge-target
      selected: false
      source: crm_read_skip
      sourceHandle: source
      target: crm_read_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: crm_read_merge-source-crm_evidence-target
      selected: false
      source: crm_read_merge
      sourceHandle: source
      target: crm_evidence
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: crm_evidence-source-knowledge_context_prepare-target
      selected: false
      source: crm_evidence
      sourceHandle: source
      target: knowledge_context_prepare
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: knowledge_policy_gate-need_knowledge-knowledge_query_decider-target
      selected: false
      source: knowledge_policy_gate
      sourceHandle: need_knowledge
      target: knowledge_query_decider
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: knowledge_policy_gate-false-knowledge_policy_skip-target
      selected: false
      source: knowledge_policy_gate
      sourceHandle: 'false'
      target: knowledge_policy_skip
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: query_rewrite-source-knowledge_gate-target
      selected: false
      source: query_rewrite
      sourceHandle: source
      target: knowledge_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: attachment_evidence-source-knowledge_context_prepare-target
      selected: false
      source: attachment_evidence
      sourceHandle: source
      target: knowledge_context_prepare
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: knowledge_context_prepare-source-knowledge_policy_gate-target
      selected: false
      source: knowledge_context_prepare
      sourceHandle: source
      target: knowledge_policy_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: knowledge_query_decider-source-query_rewrite-target
      selected: false
      source: knowledge_query_decider
      sourceHandle: source
      target: query_rewrite
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: knowledge_gate-need_knowledge-deal_rules_knowledge-target
      selected: false
      source: knowledge_gate
      sourceHandle: need_knowledge
      target: deal_rules_knowledge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: knowledge_gate-false-knowledge_skip-target
      selected: false
      source: knowledge_gate
      sourceHandle: 'false'
      target: knowledge_skip
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: knowledge_policy_skip-source-knowledge_merge-target
      selected: false
      source: knowledge_policy_skip
      sourceHandle: source
      target: knowledge_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: deal_rules_knowledge-source-knowledge_merge-target
      selected: false
      source: deal_rules_knowledge
      sourceHandle: source
      target: knowledge_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: knowledge_skip-source-knowledge_merge-target
      selected: false
      source: knowledge_skip
      sourceHandle: source
      target: knowledge_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: knowledge_merge-source-knowledge_evidence-target
      selected: false
      source: knowledge_merge
      sourceHandle: source
      target: knowledge_evidence
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: evidence_router-source-external_gate-target
      selected: false
      source: evidence_router
      sourceHandle: source
      target: external_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: agent
      id: external_gate-need_external-external_intel_agent-target
      selected: false
      source: external_gate
      sourceHandle: need_external
      target: external_intel_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: external_gate-false-external_skip-target
      selected: false
      source: external_gate
      sourceHandle: 'false'
      target: external_skip
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: agent
        targetType: variable-aggregator
      id: external_intel_agent-source-external_merge-target
      selected: false
      source: external_intel_agent
      sourceHandle: source
      target: external_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: external_skip-source-external_merge-target
      selected: false
      source: external_skip
      sourceHandle: source
      target: external_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: external_merge-source-external_evidence-target
      selected: false
      source: external_merge
      sourceHandle: source
      target: external_evidence
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: evidence_router-source-attachment_evidence-target
      selected: false
      source: evidence_router
      sourceHandle: source
      target: attachment_evidence
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: crm_evidence-source-evidence_ledger-target
      selected: false
      source: crm_evidence
      sourceHandle: source
      target: evidence_ledger
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: knowledge_evidence-source-evidence_ledger-target
      selected: false
      source: knowledge_evidence
      sourceHandle: source
      target: evidence_ledger
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: external_evidence-source-evidence_ledger-target
      selected: false
      source: external_evidence
      sourceHandle: source
      target: evidence_ledger
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: attachment_evidence-source-evidence_ledger-target
      selected: false
      source: attachment_evidence
      sourceHandle: source
      target: evidence_ledger
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: evidence_ledger-source-gap_check-target
      selected: false
      source: evidence_ledger
      sourceHandle: source
      target: gap_check
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: gap_check-source-gap_check_gate-target
      selected: false
      source: gap_check
      sourceHandle: source
      target: gap_check_gate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: gap_check_gate-need_clarification-gap_answer-target
      selected: false
      source: gap_check_gate
      sourceHandle: need_clarification
      target: gap_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: gap_check_gate-answerable-agent_router-target
      selected: false
      source: gap_check_gate
      sourceHandle: answerable
      target: agent_router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: gap_check_gate-false-agent_router-target
      selected: false
      source: gap_check_gate
      sourceHandle: 'false'
      target: agent_router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-full_review-sales_agent-target
      selected: false
      source: agent_router
      sourceHandle: full_review
      target: sales_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-full_review-finance_agent-target
      selected: false
      source: agent_router
      sourceHandle: full_review
      target: finance_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-full_review-delivery_agent-target
      selected: false
      source: agent_router
      sourceHandle: full_review
      target: delivery_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-full_review-legal_agent-target
      selected: false
      source: agent_router
      sourceHandle: full_review
      target: legal_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-sales-sales_agent-target
      selected: false
      source: agent_router
      sourceHandle: sales
      target: sales_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-finance-finance_agent-target
      selected: false
      source: agent_router
      sourceHandle: finance
      target: finance_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-delivery-delivery_agent-target
      selected: false
      source: agent_router
      sourceHandle: delivery
      target: delivery_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-legal-legal_agent-target
      selected: false
      source: agent_router
      sourceHandle: legal
      target: legal_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: agent_router-analytics-analytics_agent-target
      selected: false
      source: agent_router
      sourceHandle: analytics
      target: analytics_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: agent_router-no_domain_agent-agent_skip-target
      selected: false
      source: agent_router
      sourceHandle: no_domain_agent
      target: agent_skip
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: agent_router-false-agent_skip-target
      selected: false
      source: agent_router
      sourceHandle: 'false'
      target: agent_skip
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: agent_skip-source-agent_merge-target
      selected: false
      source: agent_skip
      sourceHandle: source
      target: agent_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: sales_agent-source-agent_merge-target
      selected: false
      source: sales_agent
      sourceHandle: source
      target: agent_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: finance_agent-source-agent_merge-target
      selected: false
      source: finance_agent
      sourceHandle: source
      target: agent_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: delivery_agent-source-agent_merge-target
      selected: false
      source: delivery_agent
      sourceHandle: source
      target: agent_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: legal_agent-source-agent_merge-target
      selected: false
      source: legal_agent
      sourceHandle: source
      target: agent_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: analytics_agent-source-agent_merge-target
      selected: false
      source: analytics_agent
      sourceHandle: source
      target: agent_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: agent_merge-source-business_answer_agent-target
      selected: false
      source: agent_merge
      sourceHandle: source
      target: business_answer_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: simple_answer-source-simple_answer_stream-target
      selected: false
      source: simple_answer
      sourceHandle: source
      target: simple_answer_stream
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: image_answer-source-image_answer_stream-target
      selected: false
      source: image_answer
      sourceHandle: source
      target: image_answer_stream
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: gap_answer-source-protocol_adapter-target
      selected: false
      source: gap_answer
      sourceHandle: source
      target: protocol_adapter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: business_answer_agent-source-business_answer_stream-target
      selected: false
      source: business_answer_agent
      sourceHandle: source
      target: business_answer_stream
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: protocol_adapter-source-final_answer-target
      selected: false
      source: protocol_adapter
      sourceHandle: source
      target: final_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: agent_router-crm_light_answer-crm_light_answer-target
      selected: false
      source: agent_router
      sourceHandle: crm_light_answer
      target: crm_light_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: crm_light_answer-source-protocol_adapter-target
      selected: false
      source: crm_light_answer
      sourceHandle: source
      target: protocol_adapter
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收用户在 AI Deal Desk 对话窗口中的自然语言输入。
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 绑定对象类型
          max_length: 32
          options: []
          required: false
          type: text-input
          variable: bound_object_type
        - label: 绑定对象 ID
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: bound_object_id
        - label: 绑定对象名称
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: bound_object_name
        - label: 绑定对象来源
          max_length: 32
          options: []
          required: false
          type: text-input
          variable: bound_object_source
        - label: 路由客户 ID
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: route_customer_id
        - label: 路由商机 ID
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: route_opportunity_id
        - label: 附件摘要
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: attachments_summary
        - label: 附件名称
          max_length: 500
          options: []
          required: false
          type: paragraph
          variable: attachment_names
        - label: 当前待确认写入 ID
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: active_writeback_id
        - label: 当前待确认写入状态
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: active_writeback_status
        - label: 当前待确认写入类型
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: active_writeback_type
        - label: 当前待确认写入 payload
          max_length: 8000
          options: []
          required: false
          type: paragraph
          variable: active_writeback_payload_json
        - label: 被对象选择打断的原始问题
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: resume_query
        - label: 用户选择的对象类型
          max_length: 32
          options: []
          required: false
          type: text-input
          variable: selected_object_type
        - label: 用户选择的对象 ID
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: selected_object_id
        - label: 用户选择的对象名称
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: selected_object_name
        - allowed_file_extensions:
          - .JPG
          - .JPEG
          - .PNG
          - .GIF
          - .WEBP
          - .SVG
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          default: []
          hide: false
          hint: 可上传 CRM 截图、报价截图、合同/沟通截图等图片；当前版本只解析图片，不解析 PDF、Word、Excel 等文档。
          label: 上传图片
          max_length: 5
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: uploaded_files
      height: 569
      id: start
      position:
        x: 4342.297396709994
        y: -412.6395026805457
      positionAbsolute:
        x: 4342.297396709994
        y: -412.6395026805457
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def _as_list(value):\n    if value is None:\n        return []\n  \
          \  if isinstance(value, list):\n        return value\n    return [value]\n\
          \n\ndef _get(item, key):\n    if isinstance(item, dict):\n        return\
          \ item.get(key)\n    return getattr(item, key, None)\n\n\ndef _is_image(item):\n\
          \    file_type = str(_get(item, 'type') or _get(item, 'mime_type') or _get(item,\
          \ 'mime') or '').lower()\n    name = str(_get(item, 'name') or _get(item,\
          \ 'filename') or '').lower()\n    image_exts = ('.jpg', '.jpeg', '.png',\
          \ '.gif', '.webp', '.svg')\n    return file_type == 'image' or file_type.startswith('image/')\
          \ or name.endswith(image_exts)\n\n\ndef main(uploaded_files=None) -> dict:\n\
          \    files = _as_list(uploaded_files)\n    images = [item for item in files\
          \ if _is_image(item)]\n    return {\n        'has_images': 'true' if images\
          \ else 'false',\n        'image_count': str(len(images)),\n    }\n"
        code_language: python3
        desc: 判断本轮是否上传图片；有图片才进入视觉识别，无图片直接跳过，避免纯文本会话多跑视觉模型。
        outputs:
          has_images:
            children: null
            type: string
          image_count:
            children: null
            type: string
        selected: false
        title: 附件 - 图片状态判断
        type: code
        variables:
        - value_selector:
          - start
          - uploaded_files
          variable: uploaded_files
      height: 112
      id: attachment_image_state
      position:
        x: 4684.297396709994
        y: -93.30616934721237
      positionAbsolute:
        x: 4684.297396709994
        y: -93.30616934721237
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def _clean(value):\n    if value is None:\n        return ''\n    return\
          \ str(value).strip()\n\n\ndef main(crm_evidence_json: str = '', attachment_evidence_json:\
          \ str = '') -> dict:\n    return {\n        'crm_evidence_json': _clean(crm_evidence_json)\
          \ or '{}',\n        'attachment_evidence_json': _clean(attachment_evidence_json)\
          \ or '{}',\n    }"
        code_language: python3
        desc: 等待 CRM 与附件并行分支完成，形成知识检索决策的明确前置上下文；不做关键词提取或业务判断。
        outputs:
          attachment_evidence_json:
            children: null
            type: string
          crm_evidence_json:
            children: null
            type: string
        selected: false
        title: 知识检索上下文准备
        type: code
        variables:
        - value_selector:
          - crm_evidence
          - evidence_json
          variable: crm_evidence_json
        - value_selector:
          - attachment_evidence
          - evidence_json
          variable: attachment_evidence_json
      height: 112
      id: knowledge_context_prepare
      position:
        x: 4184
        y: 900
      positionAbsolute:
        x: 4184
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: has_images
          conditions:
          - comparison_operator: contains
            id: cond_has_images
            value: 'true'
            varType: string
            variable_selector:
            - attachment_image_state
            - has_images
          id: has_images
          logical_operator: and
        desc: 只在本轮确实上传图片时进入视觉识别；没有图片时直接进入图片摘要聚合，保持后续主链路闭合。
        selected: false
        title: 附件 - 是否有图片
        type: if-else
      height: 208
      id: attachment_image_gate
      position:
        x: 5026.297396709994
        y: -103.30616934721237
      positionAbsolute:
        x: 5026.297396709994
        y: -103.30616934721237
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#simple_answer.text#}}'
        desc: 轻量回答直接流式输出。
        selected: false
        title: 输出轻量回答
        type: answer
        variables:
        - value_selector:
          - simple_answer
          - text
          variable: text
      height: 131
      id: simple_answer_stream
      position:
        x: 4184
        y: 331.66666666666663
      positionAbsolute:
        x: 4184
        y: 331.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 识别本轮用户上传的图片/截图，按图片里实际能看到的内容如实说明，不预设图片只与某类业务相关，也不假设图片一定属于哪个客户或商机。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 5
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: attachment-image-summary-system
          role: system
          text: 你是 AI Deal Desk 的图片识别助手，负责如实描述本轮用户上传的图片/截图里能看到的全部内容，包括文字、表格、对话框、界面元素、图表等。
            识别不清的地方要明确说明，不要编造。优先使用与 CRM 业务相关的语言来表达，但不要把图片内容强行收窄到“必须是客户/商机/合同/付款”等范围；
            如果图片里是与业务无关的内容（例如产品介绍、竞品截图、操作说明、UI 报错等），同样如实输出。最终输出简洁的 Markdown。
        - id: attachment-image-summary-user
          role: user
          text: '请逐张读取本轮用户上传的图片/截图。若系统提供了图片名称，可参考：{{#start.attachment_names#}}。

            如果一次上传了多张图片，每张都要单独分析，最后再合并总结，不要只处理其中一张。


            请输出：

            - 图片类型/来源判断

            - 关键文字或业务信息

            - 与客户、商机、风险或下一步动作相关的内容

            - 识别不清或缺失的信息'
        selected: false
        title: 附件 - 图片/截图识别
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - start
            - uploaded_files
          enabled: true
      height: 164
      id: attachment_image_summary
      position:
        x: 5388.297396709994
        y: -81.45486770220941
      positionAbsolute:
        x: 5388.297396709994
        y: -81.45486770220941
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 汇合图片识别分支；没有图片时输出为空，避免后续节点引用未执行分支。
        output_type: string
        selected: false
        title: 附件 - 图片摘要汇合
        type: variable-aggregator
        variables:
        - - attachment_image_summary
          - text
      height: 152
      id: attachment_image_text
      position:
        x: 5750.297396709994
        y: -6.97283601387911
      positionAbsolute:
        x: 5750.297396709994
        y: -6.97283601387911
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def _clean(value):\n    if value is None:\n        return ''\n    if\
          \ isinstance(value, list):\n        return '\\n\\n'.join(_clean(item) for\
          \ item in value if _clean(item))\n    if isinstance(value, dict):\n    \
          \    return '\\n'.join(f'{k}: {_clean(v)}' for k, v in value.items() if\
          \ _clean(v))\n    return str(value).strip()\n\n\ndef _clip(text, limit=4000):\n\
          \    text = _clean(text)\n    if len(text) <= limit:\n        return text\n\
          \    return text[:limit].rstrip() + '\\n...[图片识别内容较长，已截断用于保持上下文可控]'\n\n\n\
          def main(\n    manual_summary: str = '',\n    manual_names: str = '',\n\
          \    image_summary: str = '',\n) -> dict:\n    names = _clean(manual_names)\n\
          \    parts = []\n    if _clean(manual_summary):\n        parts.append('用户/前端提供的附件摘要：\\\
          n' + _clip(manual_summary, 1500))\n    if _clean(image_summary):\n     \
          \   title = '图片/截图识别摘要'\n        if names:\n            title += f'（{names}）'\n\
          \        parts.append(title + '：\\n' + _clip(image_summary, 3000))\n   \
          \ summary = '\\n\\n---\\n\\n'.join(parts)\n    if not summary and names:\n\
          \        summary = '本轮检测到图片附件，但没有识别到可用于分析的业务文本。'\n    return {\n       \
          \ 'attachments_summary': summary,\n        'attachment_names': names,\n\
          \        'image_summary': _clean(image_summary),\n    }\n"
        code_language: python3
        desc: 合并图片/截图识别结果和前端已有附件摘要，形成下游 Agent 可使用的图片附件上下文。
        outputs:
          attachment_names:
            children: null
            type: string
          attachments_summary:
            children: null
            type: string
          image_summary:
            children: null
            type: string
        selected: false
        title: 附件上下文整理
        type: code
        variables:
        - value_selector:
          - start
          - attachments_summary
          variable: manual_summary
        - value_selector:
          - start
          - attachment_names
          variable: manual_names
        - value_selector:
          - attachment_image_text
          - output
          variable: image_summary
      height: 112
      id: attachment_context
      position:
        x: 6092.297396709994
        y: 13.02716398612089
      positionAbsolute:
        x: 6092.297396709994
        y: 13.02716398612089
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\n\n\ndef _clean(value):\n    if value is None:\n    \
          \    return ''\n    return str(value).strip()\n\n\ndef _json(value):\n \
          \   return json.dumps(value, ensure_ascii=False)\n\n\ndef main(\n    user_query:\
          \ str = '',\n    has_images: str = '',\n    attachment_names: str = '',\n\
          \    attachments_summary: str = '',\n    bound_object_type: str = '',\n\
          \    bound_object_id: str = '',\n    bound_object_name: str = '',\n    bound_object_source:\
          \ str = '',\n    route_customer_id: str = '',\n    route_opportunity_id:\
          \ str = '',\n    selected_object_type: str = '',\n    selected_object_id:\
          \ str = '',\n    selected_object_name: str = '',\n) -> dict:\n    bound\
          \ = {}\n    if _clean(bound_object_type) or _clean(bound_object_id) or _clean(bound_object_name):\n\
          \        bound = {\n            'objectType': _clean(bound_object_type),\n\
          \            'objectId': _clean(bound_object_id),\n            'objectName':\
          \ _clean(bound_object_name),\n            'source': _clean(bound_object_source)\
          \ or 'page_context',\n        }\n    elif _clean(selected_object_id):\n\
          \        bound = {\n            'objectType': _clean(selected_object_type)\
          \ or 'opportunity',\n            'objectId': _clean(selected_object_id),\n\
          \            'objectName': _clean(selected_object_name),\n            'source':\
          \ 'user_selection',\n        }\n    elif _clean(route_customer_id):\n  \
          \      bound = {\n            'objectType': 'customer',\n            'objectId':\
          \ _clean(route_customer_id),\n            'objectName': '',\n          \
          \  'source': 'route_context',\n        }\n    elif _clean(route_opportunity_id):\n\
          \        bound = {\n            'objectType': 'opportunity',\n         \
          \   'objectId': _clean(route_opportunity_id),\n            'objectName':\
          \ '',\n            'source': 'route_context',\n        }\n\n    return {\n\
          \        'original_query': _clean(user_query),\n        'has_images': 'true'\
          \ if _clean(has_images).lower() == 'true' else 'false',\n        'attachment_names':\
          \ _clean(attachment_names),\n        'attachments_summary': _clean(attachments_summary),\n\
          \        'bound_object_json': _json(bound),\n        'page_context_text':\
          \ '\\n'.join([\n            f\"当前绑定对象：{bound.get('objectType', 'none')}\
          \ {bound.get('objectName', '')} {bound.get('objectId', '')}\".strip(),\n\
          \            f\"附件名称：{_clean(attachment_names) or '无'}\",\n            f\"\
          附件摘要：{_clean(attachments_summary) or '无'}\",\n        ]),\n    }\n"
        code_language: python3
        desc: 整理用户输入、页面绑定对象和附件摘要。
        outputs:
          attachment_names:
            children: null
            type: string
          attachments_summary:
            children: null
            type: string
          bound_object_json:
            children: null
            type: string
          has_images:
            children: null
            type: string
          original_query:
            children: null
            type: string
          page_context_text:
            children: null
            type: string
        selected: false
        title: 输入解析
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: user_query
        - value_selector:
          - attachment_image_state
          - has_images
          variable: has_images
        - value_selector:
          - attachment_context
          - attachment_names
          variable: attachment_names
        - value_selector:
          - attachment_context
          - attachments_summary
          variable: attachments_summary
        - value_selector:
          - start
          - bound_object_type
          variable: bound_object_type
        - value_selector:
          - start
          - bound_object_id
          variable: bound_object_id
        - value_selector:
          - start
          - bound_object_name
          variable: bound_object_name
        - value_selector:
          - start
          - bound_object_source
          variable: bound_object_source
        - value_selector:
          - start
          - route_customer_id
          variable: route_customer_id
        - value_selector:
          - start
          - route_opportunity_id
          variable: route_opportunity_id
        - value_selector:
          - start
          - selected_object_type
          variable: selected_object_type
        - value_selector:
          - start
          - selected_object_id
          variable: selected_object_id
        - value_selector:
          - start
          - selected_object_name
          variable: selected_object_name
      height: 96
      id: input_parse
      position:
        x: 6434.297396709994
        y: 13.02716398612089
      positionAbsolute:
        x: 6434.297396709994
        y: 13.02716398612089
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\n\n\ndef _clean(value):\n    if value is None:\n    \
          \    return ''\n    return str(value).strip()\n\n\ndef main(\n    original_query:\
          \ str = '',\n    bound_object_json: str = '',\n    page_context_text: str\
          \ = '',\n    attachments_summary: str = '',\n) -> dict:\n    return {\n\
          \        'original_query': _clean(original_query),\n        'bound_object_json':\
          \ _clean(bound_object_json) or '{}',\n        'context_text': '\\n'.join([\n\
          \            f\"用户问题：{_clean(original_query)}\",\n            _clean(page_context_text),\n\
          \            f\"附件摘要：{_clean(attachments_summary) or '无'}\" if not _clean(page_context_text)\
          \ else '',\n        ]).strip(),\n    }\n"
        code_language: python3
        desc: 形成 Planner 和下游证据链共用的会话上下文。
        outputs:
          bound_object_json:
            children: null
            type: string
          context_text:
            children: null
            type: string
          original_query:
            children: null
            type: string
        selected: false
        title: 上下文整理
        type: code
        variables:
        - value_selector:
          - input_parse
          - original_query
          variable: original_query
        - value_selector:
          - input_parse
          - bound_object_json
          variable: bound_object_json
        - value_selector:
          - input_parse
          - page_context_text
          variable: page_context_text
        - value_selector:
          - input_parse
          - attachments_summary
          variable: attachments_summary
      height: 96
      id: conversation_context
      position:
        x: 6776.297396709994
        y: 54.69383065278752
      positionAbsolute:
        x: 6776.297396709994
        y: 54.69383065278752
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "你是 AI Deal Desk 的 Planner。你的主要任务是判断本轮 CRM 工作任务应走哪条工作链路、目标对象是什么、需要哪些证据来源、是否需要领域\
              \ Agent、以及最终回答应该多深。只有普通轻量回答链路由你直接生成答案。\n\n你只能使用 CRM 对象解析工具确认用户指向的真实客户或商机。该工具不负责读取完整业务上下文。不要调用写入工具。除\
              \ general_chat 外，不要生成最终答案。\n\n核心原则：\n- 不按关键词触发链路。先理解用户真正要的输出：事实读取、业务判断、图表统计、外部研判、内容草稿、图片直答，还是普通问答。\n\
              - 默认只满足用户明确提出的问题。用户只问事实列表时，不主动补风险、卡点、建议、下一步、缺失字段；用户要求判断/评审/推进/建议时，再进入分析链路。\n\
              - 多个结果不天然等于歧义。用户要“查一批/列一批/看某客户名下对象”时，应把多结果作为列表；只有用户要对某一个具体对象做深入判断而对象不唯一时，才要求澄清。\n\
              - 回答深度由 answer_scope 控制：minimal 一两句；concise 简洁列表或摘要；standard 有结论和依据；deep_review\
              \ 多视角评审。\n\n对象识别与工具调用边界：\n- 只有当前任务需要一个具体客户或商机，且用户本轮明确说出了新的对象名称时，才调用\
              \ resolve_crm_object。objectReference 只传客户名或商机名，不传整句任务要求。\n- 用户本轮明确提到的新对象优先于页面已绑定对象；即使已有\
              \ bound_object，也要解析并切换到新对象。\n- 用户说“这个商机”“当前客户”等指代，或本轮没有提出新对象名称时，直接复用页面提供的\
              \ bound_object，不调用工具。\n- 经营统计、全量列表、普通问答和图片直答不要求具体对象时，resolution_status=not_required，不要为了示例对象调用工具。\n\
              - resolve_crm_object 返回 resolved_object 时，把真实 objectType/objectId/objectName\
              \ 写入 target_object，resolution_status=resolved。\n- 工具返回 OBJECT_AMBIGUOUS\
              \ 时，不得猜测或沿用旧 bound_object；保留 object_reference，target_object 置空，resolution_status=ambiguous。\n\
              - 工具返回 OBJECT_NOT_FOUND 时，不得构造对象；保留 object_reference，target_object 置空，resolution_status=not_found。\n\
              - 使用页面绑定对象时 resolution_status=bound；任务需要具体对象但没有名称也没有绑定对象时 resolution_status=missing。\n\
              - 对象详情统一交给后续 CRM 数据读取节点，不在 Planner 中调用客户或商机详情工具。\n\n可选工作链路：\n1. 普通轻量回答链路\n\
              \   - 用于不需要 CRM、外部检索、知识库或领域 Agent 的普通问答、身份介绍、概念解释。\n   - task_type=general_chat，answer_mode=general，required_sources\
              \ 全 false，required_agents 全 false。\n   - 直接在 direct_answer 中给出面向用户的完整回答；不要再规划第二次模型调用。\n\
              \   - direct_answer 只允许在 general_chat 中非空，其他任务必须输出空字符串。\n\n2. 图片/附件直答链路\n\
              \   - 用于用户主要要求解释图片、截图或附件内容本身。\n   - task_type=image_answer，answer_mode=general，required_sources.attachment=true。\n\
              \n3. CRM 事实读取链路\n   - 用于读取 CRM 事实：客户、商机、联系人、跟进记录、单条详情、某对象名下的对象列表。\n\
              \   - 只产出事实列表或简洁详情，不做销售推进、风险判断、合同/财务/交付建议。\n   - task_type=object_query，required_sources.crm=true，required_agents\
              \ 全 false。\n   - 列表型事实读取：answer_mode=list_lookup，multi_object_strategy=list，answer_scope=concise。\n\
              \   - 单条详情读取：answer_mode=detail_lookup，multi_object_strategy=ask_clarification\
              \ 或 summarize，answer_scope=concise。\n\n4. CRM 业务分析链路\n   - 用于进展总结、销售推进、风险判断、复杂商机评审、下一步建议。\n\
              \   - task_type 从 progress_summary、sales_assist、finance_check、delivery_check、legal_check、full_review\
              \ 中选择。\n   - required_sources.crm 通常为 true；按问题需要选择 knowledge/external/attachment。\n\
              \   - required_agents 只选择真正需要的领域：sales、finance、delivery、legal；多视角评审才选\
              \ full_review 对应的多个 Agent。\n   - answer_mode=analysis，answer_scope=standard\
              \ 或 deep_review。\n\n5. 经营统计/图表链路\n   - 用于漏斗、转化、赢单率、收入、回款、排行、汇总统计、可视化图表。\n\
              \   - task_type=stats_analysis，required_sources.crm=true，required_agents.analytics=true。\n\
              \   - 用户需要图表时 answer_mode=chart；只要文字统计时 answer_mode=analysis；answer_scope=standard。\n\
              \n6. 外部情报研判链路\n   - 用于官网、新闻、招投标、公开资料、政策、舆情，以及判断公开资料与当前客户/商机的关系。\n  \
              \ - task_type=external_research，required_sources.external=true；如果需要结合\
              \ CRM 对象判断关系，也设置 required_sources.crm=true。\n   - answer_mode=analysis，multi_object_strategy=summarize，answer_scope=standard。\n\
              \n7. 内容生成链路\n   - 用于邮件、话术、周报、汇报材料、跟进计划、拜访提纲等可复制内容。\n   - task_type=content_draft\
              \ 或 followup_plan；answer_mode=draft；按需读取 CRM/知识库；需要销售判断时 required_agents.sales=true。\n\
              \n任务类型 task_type 只能取：\ngeneral_chat, image_answer, object_query, progress_summary,\
              \ sales_assist, finance_check, delivery_check, legal_check, full_review,\
              \ stats_analysis, content_draft, followup_plan, external_research, unknown。\n\
              \n证据来源 required_sources 包括 crm, knowledge, external, attachment。\n领域\
              \ Agent required_agents 包括 sales, finance, delivery, legal, analytics。\n\
              回答模式 answer_mode 只能取：list_lookup, detail_lookup, analysis, chart, draft,\
              \ general。\n多对象策略 multi_object_strategy 只能取：list, ask_clarification,\
              \ rank, summarize。\n回答深度 answer_scope 只能取：minimal, concise, standard,\
              \ deep_review。\n\n\n知识库策略：\n- 由你基于任务语义选择 knowledge_policy，只能取 none、required、conditional；禁止用关键词命中决定。\n\
              - none：当前回答只需 CRM/附件/外部事实或普通整理，不需要内部规则、政策、业务基线或责任边界。\n- required：用户明确要求规则、审批、业务基线或责任边界，或缺少内部规则就无法可靠完成判断。\n\
              - conditional：知识规则可能有价值，但是否检索取决于后续读到的 CRM 与附件事实；完整商机评审通常优先考虑 conditional，而不是无条件检索。\n\
              - knowledge_goal 用一句话说明需要查清哪类内部规则，不要预写固定关键词，不要复制用户整句。\n- required_sources.knowledge\
              \ 仅保留兼容性：knowledge_policy 不是 none 时为 true，否则为 false。最终是否真的执行检索，由后续节点结合\
              \ CRM/附件证据决定。\n\n输出硬约束：只能输出一个 JSON 对象，不要 Markdown，不要代码块，不要解释。\nJSON\
              \ 结构：\n{\n  \"task_type\": \"general_chat\",\n  \"object_reference\"\
              : \"\",\n  \"resolution_status\": \"not_required\",\n  \"target_object\"\
              : {\n    \"object_type\": \"none\",\n    \"object_name\": \"\",\n  \
              \  \"object_id\": \"\",\n    \"relation_target\": \"none\"\n  },\n \
              \ \"required_sources\": {\n    \"crm\": false,\n    \"knowledge\": false,\n\
              \    \"external\": false,\n    \"attachment\": false\n  },\n  \"knowledge_policy\"\
              : \"none\",\n  \"knowledge_goal\": \"\",\n  \"required_agents\": {\n\
              \    \"sales\": false,\n    \"finance\": false,\n    \"delivery\": false,\n\
              \    \"legal\": false,\n    \"analytics\": false\n  },\n  \"answer_mode\"\
              : \"general\",\n  \"multi_object_strategy\": \"ask_clarification\",\n\
              \  \"answer_scope\": \"concise\",\n  \"answer_goal\": \"\",\n  \"direct_answer\"\
              : \"\",\n  \"success_criteria\": [],\n  \"reason\": \"\",\n  \"confidence\"\
              : 0.0\n}"
          maximum_iterations:
            type: constant
            value: 2
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: kk
              model_type: llm
              provider: langgenius/openai_api_compatible/openai_api_compatible
              type: model-selector
          query:
            type: constant
            value: '{{#conversation_context.context_text#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 同时搜索客户和商机；返回唯一精确对象、唯一模糊对象或真实候选列表。只确认对象，不读取完整业务上下文。
              parameters:
                limit:
                  auto: 1
                  value: null
                objectReference:
                  auto: 1
                  value: null
              plugin_id: null
              provider_name: 77b8b942-005e-45c7-aeed-5a70fb77113d
              provider_show_name: AI Deal Desk CRM Resolver
              settings: {}
              tool_description: 同时搜索客户和商机；返回唯一精确对象、唯一模糊对象或真实候选列表。只确认对象，不读取完整业务上下文。
              tool_label: resolve_crm_object
              tool_name: resolve_crm_object
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: 完成任务规划、对象识别、知识策略和能力选择；普通问答同时直接生成答案。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 5
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.40@d00a70e81bfb28fadd52cba7fd7a1f7c344c67b051e4a2e356a06c690736a7c4
        selected: false
        title: Planner - 任务理解与规划
        tool_node_version: '2'
        type: agent
      height: 248
      id: task_planner
      position:
        x: 7118.297396709994
        y: 11.360497319454147
      positionAbsolute:
        x: 7118.297396709994
        y: 11.360497319454147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\nVALID_TASK_TYPES = {\n    'general_chat',\
          \ 'image_answer', 'object_query', 'progress_summary',\n    'sales_assist',\
          \ 'finance_check', 'delivery_check', 'legal_check',\n    'full_review',\
          \ 'stats_analysis', 'content_draft', 'followup_plan',\n    'external_research',\
          \ 'unknown',\n}\nVALID_ANSWER_MODES = {'list_lookup', 'detail_lookup', 'analysis',\
          \ 'chart', 'draft', 'general'}\nVALID_MULTI_OBJECT_STRATEGIES = {'list',\
          \ 'ask_clarification', 'rank', 'summarize'}\nVALID_ANSWER_SCOPES = {'minimal',\
          \ 'concise', 'standard', 'deep_review'}\nVALID_RESOLUTION_STATUSES = {'not_required',\
          \ 'bound', 'resolved', 'ambiguous', 'not_found', 'missing'}\nVALID_KNOWLEDGE_POLICIES\
          \ = {'none', 'required', 'conditional'}\n\n\ndef _clean(value):\n    if\
          \ value is None:\n        return ''\n    return str(value).strip()\n\n\n\
          def _load_json(text):\n    text = _clean(text)\n    if not text:\n     \
          \   return {}\n    try:\n        return json.loads(text)\n    except Exception:\n\
          \        match = re.search(r'\\{.*\\}', text, flags=re.S)\n        if not\
          \ match:\n            return {}\n        try:\n            return json.loads(match.group(0))\n\
          \        except Exception:\n            return {}\n\n\ndef _bool(value):\n\
          \    if isinstance(value, bool):\n        return value\n    return _clean(value).lower()\
          \ in ['true', '1', 'yes', 'y', '是', '需要']\n\n\ndef _choose_answer_mode(task_type,\
          \ payload):\n    answer_mode = _clean(payload.get('answer_mode')) if isinstance(payload,\
          \ dict) else ''\n    if answer_mode in VALID_ANSWER_MODES:\n        return\
          \ answer_mode\n    defaults = {\n        'general_chat': 'general',\n  \
          \      'image_answer': 'general',\n        'object_query': 'detail_lookup',\n\
          \        'stats_analysis': 'chart',\n        'content_draft': 'draft',\n\
          \        'followup_plan': 'draft',\n    }\n    return defaults.get(task_type,\
          \ 'analysis')\n\n\ndef _choose_multi_object_strategy(answer_mode, task_type,\
          \ payload):\n    strategy = _clean(payload.get('multi_object_strategy'))\
          \ if isinstance(payload, dict) else ''\n    if strategy in VALID_MULTI_OBJECT_STRATEGIES:\n\
          \        return strategy\n    if answer_mode == 'list_lookup':\n       \
          \ return 'list'\n    if answer_mode == 'chart' or task_type in ['stats_analysis',\
          \ 'external_research']:\n        return 'summarize'\n    return 'ask_clarification'\n\
          \n\ndef _choose_answer_scope(answer_mode, task_type, payload):\n    scope\
          \ = _clean(payload.get('answer_scope')) if isinstance(payload, dict) else\
          \ ''\n    if scope in VALID_ANSWER_SCOPES:\n        return scope\n    if\
          \ task_type == 'full_review':\n        return 'deep_review'\n    if answer_mode\
          \ in ['list_lookup', 'detail_lookup', 'general']:\n        return 'concise'\n\
          \    return 'standard'\n\n\ndef main(planner_text: str = '', has_images:\
          \ str = '', bound_object_json: str = '', original_query: str = '') -> dict:\n\
          \    payload = _load_json(planner_text)\n    task_type = _clean(payload.get('task_type'))\
          \ if isinstance(payload, dict) else 'unknown'\n    if task_type not in VALID_TASK_TYPES:\n\
          \        task_type = 'unknown'\n\n    image_present = _bool(has_images)\n\
          \    if task_type == 'image_answer' and not image_present:\n        task_type\
          \ = 'general_chat'\n\n    answer_mode = _choose_answer_mode(task_type, payload)\n\
          \    multi_object_strategy = _choose_multi_object_strategy(answer_mode,\
          \ task_type, payload)\n    answer_scope = _choose_answer_scope(answer_mode,\
          \ task_type, payload)\n\n    business_tasks = VALID_TASK_TYPES - {'general_chat',\
          \ 'image_answer', 'unknown'}\n    if task_type == 'general_chat':\n    \
          \    route_group = 'general_chat'\n    elif task_type == 'image_answer':\n\
          \        route_group = 'image_answer'\n    elif task_type in business_tasks:\n\
          \        route_group = 'business_task'\n    else:\n        route_group =\
          \ 'general_chat'\n\n    required_sources = payload.get('required_sources')\
          \ if isinstance(payload.get('required_sources'), dict) else {}\n    required_agents\
          \ = payload.get('required_agents') if isinstance(payload.get('required_agents'),\
          \ dict) else {}\n    knowledge_policy = _clean(payload.get('knowledge_policy')).lower()\n\
          \    if knowledge_policy not in VALID_KNOWLEDGE_POLICIES:\n        knowledge_policy\
          \ = 'required' if _bool(required_sources.get('knowledge')) else 'none'\n\
          \    knowledge_goal = _clean(payload.get('knowledge_goal'))\n\n    object_reference\
          \ = _clean(payload.get('object_reference'))\n    resolution_status = _clean(payload.get('resolution_status')).lower()\n\
          \    if resolution_status not in VALID_RESOLUTION_STATUSES:\n        resolution_status\
          \ = ''\n    target = payload.get('target_object') if isinstance(payload.get('target_object'),\
          \ dict) else {}\n    bound_target = _load_json(bound_object_json)\n    target_id\
          \ = _clean(target.get('object_id') or target.get('objectId'))\n\n    if\
          \ resolution_status == 'bound':\n        if not target and isinstance(bound_target,\
          \ dict):\n            target = bound_target\n    elif resolution_status\
          \ in ['ambiguous', 'not_found', 'missing']:\n        target = {}\n    elif\
          \ resolution_status == 'resolved' and not target_id:\n        resolution_status\
          \ = 'missing'\n        target = {}\n    elif not resolution_status:\n  \
          \      if target_id:\n            resolution_status = 'resolved'\n     \
          \   elif not object_reference and isinstance(bound_target, dict) and bound_target:\n\
          \            target = bound_target\n            resolution_status = 'bound'\n\
          \        elif object_reference:\n            resolution_status = 'missing'\n\
          \            target = {}\n        else:\n            resolution_status =\
          \ 'not_required'\n\n    if resolution_status in ['ambiguous', 'not_found',\
          \ 'missing']:\n        task_type = 'object_query'\n        route_group =\
          \ 'business_task'\n        answer_mode = 'detail_lookup'\n        multi_object_strategy\
          \ = 'ask_clarification'\n        answer_scope = 'concise'\n        required_sources\
          \ = {'crm': True, 'knowledge': False, 'external': False, 'attachment': False}\n\
          \        required_agents = {'sales': False, 'finance': False, 'delivery':\
          \ False, 'legal': False, 'analytics': False}\n        knowledge_policy =\
          \ 'none'\n        knowledge_goal = ''\n\n    if task_type == 'object_query'\
          \ and answer_mode in ['list_lookup', 'detail_lookup']:\n        required_sources['crm']\
          \ = True\n        required_agents = {'sales': False, 'finance': False, 'delivery':\
          \ False, 'legal': False, 'analytics': False}\n        knowledge_policy =\
          \ 'none'\n        knowledge_goal = ''\n\n    if task_type == 'full_review':\n\
          \        required_agents.update({'sales': True, 'finance': True, 'delivery':\
          \ True, 'legal': True})\n\n    if task_type == 'object_query' and answer_mode\
          \ in ['list_lookup', 'detail_lookup']:\n        agent_route = 'crm_light_answer'\n\
          \    elif _bool(required_agents.get('sales')) and _bool(required_agents.get('finance'))\
          \ and _bool(required_agents.get('delivery')) and _bool(required_agents.get('legal')):\n\
          \        agent_route = 'full_review'\n    elif _bool(required_agents.get('finance')):\n\
          \        agent_route = 'finance'\n    elif _bool(required_agents.get('delivery')):\n\
          \        agent_route = 'delivery'\n    elif _bool(required_agents.get('legal')):\n\
          \        agent_route = 'legal'\n    elif _bool(required_agents.get('analytics')):\n\
          \        agent_route = 'analytics'\n    elif _bool(required_agents.get('sales')):\n\
          \        agent_route = 'sales'\n    else:\n        agent_route = 'none'\n\
          \n    direct_answer = _clean(payload.get('direct_answer')) if route_group\
          \ == 'general_chat' else ''\n    knowledge_eligible = route_group == 'business_task'\
          \ and knowledge_policy != 'none'\n\n    return {\n        'task_type': task_type,\n\
          \        'route_group': route_group,\n        'object_reference': object_reference,\n\
          \        'resolution_status': resolution_status,\n        'target_object_json':\
          \ json.dumps(target if isinstance(target, dict) else {}, ensure_ascii=False),\n\
          \        'need_crm': 'true' if _bool(required_sources.get('crm')) else 'false',\n\
          \        'need_knowledge': 'true' if knowledge_eligible else 'false',\n\
          \        'knowledge_policy': knowledge_policy,\n        'knowledge_goal':\
          \ knowledge_goal,\n        'need_external': 'true' if _bool(required_sources.get('external'))\
          \ else 'false',\n        'need_attachment': 'true' if image_present or _bool(required_sources.get('attachment'))\
          \ else 'false',\n        'agent_route': agent_route,\n        'answer_mode':\
          \ answer_mode,\n        'multi_object_strategy': multi_object_strategy,\n\
          \        'answer_scope': answer_scope,\n        'answer_goal': _clean(payload.get('answer_goal')),\n\
          \        'direct_answer': direct_answer,\n        'success_criteria_json':\
          \ json.dumps(payload.get('success_criteria') or [], ensure_ascii=False),\n\
          \        'planner_reason': _clean(payload.get('reason')),\n        'planner_confidence':\
          \ str(payload.get('confidence') or ''),\n    }"
        code_language: python3
        desc: 解析 Planner JSON，输出稳定任务路由、知识策略和能力开关。
        outputs:
          agent_route:
            children: null
            type: string
          answer_goal:
            children: null
            type: string
          answer_mode:
            children: null
            type: string
          answer_scope:
            children: null
            type: string
          direct_answer:
            children: null
            type: string
          knowledge_goal:
            children: null
            type: string
          knowledge_policy:
            children: null
            type: string
          multi_object_strategy:
            children: null
            type: string
          need_attachment:
            children: null
            type: string
          need_crm:
            children: null
            type: string
          need_external:
            children: null
            type: string
          need_knowledge:
            children: null
            type: string
          object_reference:
            children: null
            type: string
          planner_confidence:
            children: null
            type: string
          planner_reason:
            children: null
            type: string
          resolution_status:
            children: null
            type: string
          route_group:
            children: null
            type: string
          success_criteria_json:
            children: null
            type: string
          target_object_json:
            children: null
            type: string
          task_type:
            children: null
            type: string
        selected: false
        title: 任务计划标准化
        type: code
        variables:
        - value_selector:
          - task_planner
          - text
          variable: planner_text
        - value_selector:
          - input_parse
          - has_images
          variable: has_images
        - value_selector:
          - conversation_context
          - bound_object_json
          variable: bound_object_json
        - value_selector:
          - conversation_context
          - original_query
          variable: original_query
      height: 96
      id: task_plan_normalize
      position:
        x: 7460.297396709994
        y: 99.69383065278751
      positionAbsolute:
        x: 7460.297396709994
        y: 99.69383065278751
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: general_chat
          conditions:
          - comparison_operator: contains
            id: cond_task_type_gate_general_chat
            value: general_chat
            varType: string
            variable_selector:
            - task_plan_normalize
            - route_group
          id: general_chat
          logical_operator: and
        - case_id: image_answer
          conditions:
          - comparison_operator: contains
            id: cond_task_type_gate_image_answer
            value: image_answer
            varType: string
            variable_selector:
            - task_plan_normalize
            - route_group
          id: image_answer
          logical_operator: and
        - case_id: business_task
          conditions:
          - comparison_operator: contains
            id: cond_task_type_gate_business_task
            value: business_task
            varType: string
            variable_selector:
            - task_plan_normalize
            - route_group
          id: business_task
          logical_operator: and
        desc: 普通问答、图片直答和 CRM 业务任务分流。
        selected: false
        title: 任务类型路由
        type: if-else
      height: 336
      id: task_type_gate
      position:
        x: 3460
        y: 520.6666666666667
      positionAbsolute:
        x: 3460
        y: 520.6666666666667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 普通问答、身份介绍和概念解释，直接回答用户问题。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 5
        model:
          completion_params:
            enable_thinking: false
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: preflight-quick-system
          role: system
          text: '你是 AI Deal Desk 的轻量问答助手。只处理普通闲聊、身份介绍、概念解释、非常规实时问题和低置信度问题。


            回答要求：

            - 直接回答用户问题，保持简洁。

            - 不调用或假装读取 CRM、知识库、外部情报、写回工具。

            - 用户问“今天天气什么样”这类实时问题时，如没有天气工具，就说明当前工作台没有实时天气能力，可建议查看天气应用；不要编造天气。

            - 用户问“你是谁”时，用用户语言说明你是嵌在 CRM 里的 AI Deal Desk 助手，可帮助查客户/商机、总结进展、生成沟通和跟进草稿、做商机评审。

            - 用户问 L2C、赢单率等概念解释时，只解释概念；不要因为关键词进入 CRM 查询或统计。

            - 输出标准 Markdown，不要输出协议 JSON、节点名、路由名或内部字段。'
        - id: preflight-quick-user
          role: user
          text: 用户问题：{{#sys.query#}}
        selected: false
        title: 轻量回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: simple_answer
      position:
        x: 3822
        y: 331.66666666666663
      positionAbsolute:
        x: 3822
        y: 331.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 只基于图片/截图识别内容回答。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 1000
            temperature: 0.2
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: image-direct-system
          role: system
          text: '你是 AI Deal Desk 的图片直答助手。只基于本轮图片/截图识别摘要回答用户，不进入 CRM 查询、销售运营分析、知识库或外部情报。


            回答要求：

            - 如实说明图中可见内容，包括文字、表格、对话框、界面元素、图表等。

            - 如果识别不清，要明确说不清楚，不要编造。

            - 如果没有收到图片或图片摘要为空，直接说明当前没有收到可识别图片。

            - 不要因为截图里出现 CRM、客户、商机、合同、风险等词就扩展成业务评审。

            - 输出简洁 Markdown，不要输出协议 JSON、节点名、路由名或内部字段。'
        - id: image-direct-user
          role: user
          text: '用户问题：{{#sys.query#}}


            图片/截图名称：

            {{#attachment_context.attachment_names#}}


            图片/截图识别摘要：

            {{#attachment_context.attachments_summary#}}'
        selected: false
        title: 图片理解与回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: image_answer
      position:
        x: 8066
        y: 341.21307255631666
      positionAbsolute:
        x: 8066
        y: 341.21307255631666
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#image_answer.text#}}'
        desc: 图片理解结果直接流式输出。
        selected: false
        title: 输出图片回答
        type: answer
        variables:
        - value_selector:
          - image_answer
          - text
          variable: text
      height: 131
      id: image_answer_stream
      position:
        x: 8428
        y: 341.21307255631666
      positionAbsolute:
        x: 8428
        y: 341.21307255631666
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\nVALID_KNOWLEDGE_POLICIES = {'none', 'required', 'conditional'}\n\
          \n\ndef _clean(value):\n    if value is None:\n        return ''\n    return\
          \ str(value).strip()\n\n\ndef _loads(value, fallback):\n    if isinstance(value,\
          \ (dict, list)):\n        return value\n    text = _clean(value)\n    if\
          \ not text:\n        return fallback\n    try:\n        return json.loads(text)\n\
          \    except Exception:\n        return fallback\n\n\ndef _bool(value):\n\
          \    return _clean(value).lower() in ['true', '1', 'yes', 'y', '是', '需要']\n\
          \n\ndef _relation_target(target):\n    return _clean(\n        target.get('relation_target')\n\
          \        or target.get('relationTarget')\n        or target.get('target_relation')\n\
          \        or target.get('targetRelation')\n    ).lower()\n\n\ndef _is_opportunity_relation(relation):\n\
          \    return relation in ['opportunity', 'opportunities', '商机', '商机列表', '关联商机']\n\
          \n\ndef _is_customer_relation(relation):\n    return relation in ['customer',\
          \ 'customers', '客户', '客户列表', '关联客户']\n\n\ndef main(\n    task_type: str\
          \ = '',\n    original_query: str = '',\n    target_object_json: str = '',\n\
          \    object_reference: str = '',\n    resolution_status: str = '',\n   \
          \ need_crm: str = '',\n    need_knowledge: str = '',\n    knowledge_policy:\
          \ str = '',\n    knowledge_goal: str = '',\n    need_external: str = '',\n\
          \    need_attachment: str = '',\n) -> dict:\n    target = _loads(target_object_json,\
          \ {})\n    object_type = _clean(target.get('object_type') or target.get('objectType'))\n\
          \    object_id = _clean(target.get('object_id') or target.get('objectId'))\n\
          \    object_name = _clean(target.get('object_name') or target.get('objectName'))\n\
          \    relation = _relation_target(target)\n    query = _clean(original_query)\n\
          \    reference = _clean(object_reference)\n    resolution = _clean(resolution_status).lower()\n\
          \n    policy = _clean(knowledge_policy).lower()\n    if policy not in VALID_KNOWLEDGE_POLICIES:\n\
          \        policy = 'required' if _bool(need_knowledge) else 'none'\n\n  \
          \  endpoint = ''\n    payload = {}\n    action = 'none'\n    if _bool(need_crm):\n\
          \        if resolution in ['ambiguous', 'not_found', 'missing'] and reference:\n\
          \            endpoint = 'resolve-crm-object'\n            action = 'resolve_crm_object'\n\
          \            payload = {'objectReference': reference, 'limit': 10}\n   \
          \     elif _clean(task_type) == 'stats_analysis':\n            endpoint\
          \ = 'get-funnel-snapshot'\n            action = 'get_funnel_snapshot'\n\
          \            payload = {}\n        elif object_type == 'customer' and _is_opportunity_relation(relation):\n\
          \            endpoint = 'search-opportunities'\n            action = 'search_opportunities'\n\
          \            payload = {'keyword': object_name or query[:80], 'limit': 10,\
          \ 'includeContextOnUnique': False}\n        elif object_type == 'opportunity'\
          \ and object_id:\n            endpoint = 'get-opportunity-context'\n   \
          \         action = 'get_opportunity_context'\n            payload = {'opportunityId':\
          \ object_id, 'limit': 10}\n        elif object_type == 'customer' and object_id:\n\
          \            endpoint = 'get-customer-context'\n            action = 'get_customer_context'\n\
          \            payload = {'customerId': object_id, 'limit': 10}\n        elif\
          \ _is_opportunity_relation(relation):\n            endpoint = 'search-opportunities'\n\
          \            action = 'search_opportunities'\n            payload = {'keyword':\
          \ object_name or query[:80], 'limit': 10, 'includeContextOnUnique': False}\n\
          \        elif _is_customer_relation(relation):\n            endpoint = 'search-customers'\n\
          \            action = 'search_customers'\n            payload = {'keyword':\
          \ object_name or query[:80], 'limit': 10, 'includeContextOnUnique': False}\n\
          \        elif object_name:\n            endpoint = 'resolve-crm-object'\n\
          \            action = 'resolve_crm_object'\n            payload = {'objectReference':\
          \ object_name, 'limit': 10}\n\n    return {\n        'need_crm': 'true'\
          \ if endpoint else 'false',\n        'need_knowledge': 'true' if policy\
          \ != 'none' else 'false',\n        'knowledge_policy': policy,\n       \
          \ 'knowledge_goal': _clean(knowledge_goal),\n        'need_external': 'true'\
          \ if _bool(need_external) else 'false',\n        'need_attachment': 'true'\
          \ if _bool(need_attachment) else 'false',\n        'crm_action': action,\n\
          \        'crm_tool_url_path': '/' + endpoint if endpoint else '',\n    \
          \    'crm_request_body': json.dumps(payload, ensure_ascii=False),\n    \
          \    'evidence_plan_text': '; '.join([\n            f\"task_type={_clean(task_type)}\"\
          ,\n            f\"crm={action}\",\n            f\"knowledge_policy={policy}\"\
          ,\n            f\"external={_bool(need_external)}\",\n            f\"attachment={_bool(need_attachment)}\"\
          ,\n        ]),\n    }"
        code_language: python3
        desc: 并行调度 CRM、外部情报和附件证据，并传递 Planner 的知识检索策略。
        outputs:
          crm_action:
            children: null
            type: string
          crm_request_body:
            children: null
            type: string
          crm_tool_url_path:
            children: null
            type: string
          evidence_plan_text:
            children: null
            type: string
          knowledge_goal:
            children: null
            type: string
          knowledge_policy:
            children: null
            type: string
          need_attachment:
            children: null
            type: string
          need_crm:
            children: null
            type: string
          need_external:
            children: null
            type: string
          need_knowledge:
            children: null
            type: string
        selected: false
        title: 证据收集调度
        type: code
        variables:
        - value_selector:
          - task_plan_normalize
          - task_type
          variable: task_type
        - value_selector:
          - conversation_context
          - original_query
          variable: original_query
        - value_selector:
          - task_plan_normalize
          - target_object_json
          variable: target_object_json
        - value_selector:
          - task_plan_normalize
          - object_reference
          variable: object_reference
        - value_selector:
          - task_plan_normalize
          - resolution_status
          variable: resolution_status
        - value_selector:
          - task_plan_normalize
          - need_crm
          variable: need_crm
        - value_selector:
          - task_plan_normalize
          - need_knowledge
          variable: need_knowledge
        - value_selector:
          - task_plan_normalize
          - need_external
          variable: need_external
        - value_selector:
          - task_plan_normalize
          - need_attachment
          variable: need_attachment
        - value_selector:
          - task_plan_normalize
          - knowledge_policy
          variable: knowledge_policy
        - value_selector:
          - task_plan_normalize
          - knowledge_goal
          variable: knowledge_goal
      height: 96
      id: evidence_router
      position:
        x: 3822
        y: 1239
      positionAbsolute:
        x: 3822
        y: 1239
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: call_crm
          conditions:
          - comparison_operator: contains
            id: cond_crm_read_gate_call_crm
            value: 'true'
            varType: string
            variable_selector:
            - evidence_router
            - need_crm
          id: call_crm
          logical_operator: and
        desc: 按需调用 CRM 只读工具。
        selected: false
        title: 是否读取 CRM
        type: if-else
      height: 176
      id: crm_read_gate
      position:
        x: 4184
        y: 694.8333333333334
      positionAbsolute:
        x: 4184
        y: 694.8333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#evidence_router.crm_request_body#}}'
          type: json
        desc: 调用 CordysCRM 只读 Tool API。
        headers: 'Content-Type: application/json

          X-DIFY-TOOL-TOKEN: {{#env.DIFY_TOOL_TOKEN#}}

          ngrok-skip-browser-warning: true'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 300
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 300
          max_read_timeout: 600
          max_write_timeout: 600
          read: 60
          write: 20
        title: CRM 数据读取
        type: http-request
        url: '{{#env.CRM_TOOL_BASE_URL#}}{{#evidence_router.crm_tool_url_path#}}'
        variables: []
      height: 173
      id: crm_read_request
      position:
        x: 4546
        y: 628.3333333333334
      positionAbsolute:
        x: 4546
        y: 628.3333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {'output': '{\"success\": true, \"\
          code\": \"SKIPPED\", \"data\": {}, \"message\": \"\"}'}\n"
        code_language: python3
        desc: 未启用 CRM 时输出空证据 envelope。
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: CRM 读取跳过响应
        type: code
        variables: []
      height: 80
      id: crm_read_skip
      position:
        x: 4546
        y: 868.3333333333334
      positionAbsolute:
        x: 4546
        y: 868.3333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 汇合 CRM HTTP 响应或跳过响应。
        output_type: string
        selected: false
        title: CRM 读取结果汇合
        type: variable-aggregator
        variables:
        - - crm_read_request
          - body
        - - crm_read_skip
          - output
      height: 162
      id: crm_read_merge
      position:
        x: 4908
        y: 785
      positionAbsolute:
        x: 4908
        y: 785
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\n\n\ndef _clean(value):\n    if value is None:\n    \
          \    return ''\n    return str(value).strip()\n\n\ndef _loads(value, fallback):\n\
          \    if isinstance(value, (dict, list)):\n        return value\n    text\
          \ = _clean(value)\n    if not text:\n        return fallback\n    try:\n\
          \        return json.loads(text)\n    except Exception:\n        return\
          \ fallback\n\n\ndef _number(value, default=0):\n    text = _clean(value).replace(',',\
          \ '').replace('%', '')\n    if not text:\n        return default\n    try:\n\
          \        return int(round(float(text)))\n    except Exception:\n       \
          \ return default\n\n\ndef _single_deal_progress_chart(data):\n    if not\
          \ isinstance(data, dict):\n        return None\n    opportunity = data.get('opportunity')\
          \ if isinstance(data.get('opportunity'), dict) else {}\n    facts = data.get('businessFacts')\
          \ if isinstance(data.get('businessFacts'), dict) else {}\n    if not opportunity:\n\
          \        return None\n\n    opportunity_name = (\n        _clean(opportunity.get('name'))\n\
          \        or _clean(facts.get('opportunityName'))\n        or '当前商机'\n  \
          \  )\n    stage = _clean(opportunity.get('stage'))\n    stage_name = _clean(opportunity.get('stageName'))\
          \ or _clean(facts.get('stageName'))\n    win_rate = _number(opportunity.get('possible')\
          \ or facts.get('winRate'), 0)\n\n    stage_index = -1\n    stage_key = (stage\
          \ + ' ' + stage_name).lower()\n    if 'success' in stage_key or '赢单' in\
          \ stage_key or '成交' in stage_key or '签约' in stage_key:\n        stage_index\
          \ = 4\n    elif 'contract' in stage_key or '合同' in stage_key:\n        stage_index\
          \ = 3\n    elif 'business_procurement' in stage_key or '商务' in stage_key\
          \ or '采购' in stage_key:\n        stage_index = 2\n    elif 'solution' in\
          \ stage_key or '方案' in stage_key or '评审' in stage_key or '验证' in stage_key:\n\
          \        stage_index = 1\n    elif 'clear_requirements' in stage_key or\
          \ '需求' in stage_key:\n        stage_index = 0\n    elif 'create' in stage_key\
          \ or '新建' in stage_key:\n        stage_index = -1\n\n    stage_names = ['需求确认',\
          \ '方案评审', '商务沟通', '合同推进']\n    values = []\n    for index, name in enumerate(stage_names):\n\
          \        if stage_index >= index:\n            value = 100\n        elif\
          \ index == max(stage_index + 1, 0):\n            value = win_rate\n    \
          \    else:\n            value = 0\n        values.append({'name': name,\
          \ 'value': value})\n    values.append({'name': '赢单预测', 'value': win_rate})\n\
          \n    return {\n        'type': 'funnel',\n        'title': f'{opportunity_name}\
          \ - 销售推进漏斗',\n        'unit': '%',\n        'data': values,\n    }\n\n\n\
          def main(response_body: str = '', crm_action: str = '') -> dict:\n    envelope\
          \ = _loads(response_body, {})\n    facts = []\n    objects = []\n    gaps\
          \ = []\n    tool_errors = []\n    charts = []\n\n    code = _clean(envelope.get('code'))\n\
          \    message = _clean(envelope.get('message'))\n    data = envelope.get('data')\
          \ if isinstance(envelope.get('data'), dict) else {}\n    candidates = data.get('candidates')\
          \ if isinstance(data.get('candidates'), list) else []\n    result_type =\
          \ _clean(data.get('resultType')) or ('candidate_list' if candidates else\
          \ '')\n    count = data.get('count') if data.get('count') is not None else\
          \ len(candidates)\n\n    if code == 'SKIPPED' or not envelope:\n       \
          \ tool_status = 'skipped'\n        gaps.append('本轮未调用 CRM 读取工具。')\n    elif\
          \ code == 'OK' or (code == 'OBJECT_AMBIGUOUS' and candidates):\n       \
          \ tool_status = 'ok'\n    else:\n        tool_status = 'error'\n       \
          \ tool_errors.append(message or f'CRM 工具返回 {code}')\n\n    if data and (tool_status\
          \ == 'ok' or candidates):\n        fact_data = {}\n        for key in [\n\
          \            'opportunity', 'customer', 'opportunities', 'contacts',\n \
          \           'recentFollowRecords', 'openFollowPlans', 'businessFacts',\n\
          \            'dealTerms', 'riskSignals', 'missingFields', 'sourceRefs',\n\
          \            'funnelSnapshot', 'stats', 'summary',\n        ]:\n       \
          \     value = data.get(key)\n            if isinstance(value, list):\n \
          \               fact_data[key] = value[:10]\n            elif value is not\
          \ None:\n                fact_data[key] = value\n        facts.append(json.dumps(fact_data\
          \ or data, ensure_ascii=False))\n        if isinstance(data.get('chart'),\
          \ dict):\n            charts.append(data.get('chart'))\n        progress_chart\
          \ = _single_deal_progress_chart(data)\n        if progress_chart:\n    \
          \        charts.append(progress_chart)\n        if isinstance(data.get('customer'),\
          \ dict):\n            cust = data.get('customer') or {}\n            objects.append({'objectType':\
          \ 'customer', 'objectId': _clean(cust.get('id')), 'objectName': _clean(cust.get('name'))})\n\
          \        if isinstance(data.get('opportunity'), dict):\n            opp\
          \ = data.get('opportunity') or {}\n            objects.append({'objectType':\
          \ 'opportunity', 'objectId': _clean(opp.get('id')), 'objectName': _clean(opp.get('name'))})\n\
          \        if isinstance(data.get('resolvedObject'), dict):\n            resolved\
          \ = data.get('resolvedObject') or {}\n            objects.append({\n   \
          \             'objectType': _clean(resolved.get('objectType') or resolved.get('type')),\n\
          \                'objectId': _clean(resolved.get('objectId') or resolved.get('id')),\n\
          \                'objectName': _clean(resolved.get('objectName') or resolved.get('name')),\n\
          \                'customerId': _clean(resolved.get('customerId')),\n   \
          \             'customerName': _clean(resolved.get('customerName')),\n  \
          \              'source': _clean(resolved.get('source')) or 'crm_resolver',\n\
          \            })\n        for item in candidates[:10]:\n            if isinstance(item,\
          \ dict):\n                object_type = _clean(item.get('objectType'))\n\
          \                if not object_type:\n                    object_type =\
          \ 'opportunity' if _clean(crm_action) == 'search_opportunities' else 'customer'\n\
          \                objects.append({\n                    'objectType': object_type,\n\
          \                    'objectId': _clean(item.get('objectId') or item.get('id')),\n\
          \                    'objectName': _clean(item.get('objectName') or item.get('name')),\n\
          \                    'customerName': _clean(item.get('customerName')),\n\
          \                })\n    elif tool_status != 'skipped' and not tool_errors:\n\
          \        gaps.append('CRM 工具未返回可展示数据。')\n\n    evidence = {\n        'source':\
          \ 'crm',\n        'tool_status': tool_status,\n        'result_type': result_type,\n\
          \        'count': count,\n        'candidates': candidates[:10],\n     \
          \   'facts': facts,\n        'objects': objects,\n        'gaps': gaps,\n\
          \        'tool_errors': tool_errors,\n        'action': _clean(crm_action),\n\
          \        'charts': charts,\n    }\n    return {'evidence_json': json.dumps(evidence,\
          \ ensure_ascii=False), 'evidence_text': json.dumps(evidence, ensure_ascii=False)}\n"
        code_language: python3
        desc: 把 CRM 工具 envelope 整理为统一证据包。
        outputs:
          evidence_json:
            children: null
            type: string
          evidence_text:
            children: null
            type: string
        selected: false
        title: CRM 证据包整理
        type: code
        variables:
        - value_selector:
          - crm_read_merge
          - output
          variable: response_body
        - value_selector:
          - evidence_router
          - crm_action
          variable: crm_action
      height: 96
      id: crm_evidence
      position:
        x: 5592
        y: 780
      positionAbsolute:
        x: 5592
        y: 780
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: need_knowledge
          conditions:
          - comparison_operator: contains
            id: cond_knowledge_gate_decision
            value: 'true'
            varType: string
            variable_selector:
            - query_rewrite
            - need_knowledge
          id: need_knowledge
          logical_operator: and
        desc: 根据证据化决策结果执行或跳过知识库检索。
        selected: false
        title: 是否执行知识库检索
        type: if-else
      height: 192
      id: knowledge_gate
      position:
        x: 5230
        y: 1090
      positionAbsolute:
        x: 5230
        y: 1090
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\nMAX_CHARS = 260\nVALID_POLICIES = {'none',\
          \ 'required', 'conditional'}\nVALID_DOMAINS = {'sales', 'finance', 'delivery',\
          \ 'legal', 'general'}\n\n\ndef _clean(value):\n    if value is None:\n \
          \       return ''\n    return re.sub(r'\\s+', ' ', str(value)).strip()\n\
          \n\ndef _load_json(text):\n    text = _clean(text)\n    if not text:\n \
          \       return {}\n    try:\n        return json.loads(text)\n    except\
          \ Exception:\n        match = re.search(r'\\{.*\\}', text, flags=re.S)\n\
          \        if not match:\n            return {}\n        try:\n          \
          \  return json.loads(match.group(0))\n        except Exception:\n      \
          \      return {}\n\n\ndef _bool(value):\n    if isinstance(value, bool):\n\
          \        return value\n    return _clean(value).lower() in ['true', '1',\
          \ 'yes', 'y', '是', '需要']\n\n\ndef _string_list(value, allowed=None, limit=8):\n\
          \    if not isinstance(value, list):\n        return []\n    result = []\n\
          \    for item in value:\n        text = _clean(item)\n        if not text\
          \ or (allowed and text not in allowed) or text in result:\n            continue\n\
          \        result.append(text)\n        if len(result) >= limit:\n       \
          \     break\n    return result\n\n\ndef main(\n    decision_text: str =\
          \ '',\n    knowledge_policy: str = '',\n    original_query: str = '',\n\
          \    knowledge_goal: str = '',\n    answer_goal: str = '',\n) -> dict:\n\
          \    payload = _load_json(decision_text)\n    policy = _clean(knowledge_policy).lower()\n\
          \    if policy not in VALID_POLICIES:\n        policy = 'none'\n\n    if\
          \ policy == 'required':\n        need_knowledge = True\n    elif policy\
          \ == 'conditional':\n        need_knowledge = _bool(payload.get('need_knowledge'))\
          \ if payload else bool(_clean(knowledge_goal))\n    else:\n        need_knowledge\
          \ = False\n\n    focus_domains = _string_list(payload.get('focus_domains'),\
          \ VALID_DOMAINS, 5)\n    facts_used = _string_list(payload.get('facts_used'),\
          \ None, 6)\n    reason = _clean(payload.get('reason'))[:160]\n    query\
          \ = _clean(payload.get('knowledge_query'))\n    if need_knowledge and not\
          \ query:\n        query = _clean(' '.join(filter(None, [original_query,\
          \ knowledge_goal, answer_goal, ' '.join(facts_used)])))\n        if not\
          \ payload:\n            reason = reason or '知识检索决策输出不可解析，已按 Planner 策略生成降级查询'\n\
          \    if not need_knowledge:\n        query = ''\n\n    if need_knowledge\
          \ and not query:\n        need_knowledge = False\n        reason = reason\
          \ or '没有形成可执行的知识检索问题'\n\n    return {\n        'need_knowledge': 'true'\
          \ if need_knowledge else 'false',\n        'text': query[:MAX_CHARS],\n\
          \        'focus_domains_json': json.dumps(focus_domains, ensure_ascii=False),\n\
          \        'facts_used_json': json.dumps(facts_used, ensure_ascii=False),\n\
          \        'reason': reason,\n    }"
        code_language: python3
        desc: 校验模型 JSON、落实 required/conditional/none 策略并限制单条查询不超过 260 字符；不使用固定业务词表。
        outputs:
          facts_used_json:
            children: null
            type: string
          focus_domains_json:
            children: null
            type: string
          need_knowledge:
            children: null
            type: string
          reason:
            children: null
            type: string
          text:
            children: null
            type: string
        selected: false
        title: 知识检索结果校验
        type: code
        variables:
        - value_selector:
          - knowledge_query_decider
          - text
          variable: decision_text
        - value_selector:
          - evidence_router
          - knowledge_policy
          variable: knowledge_policy
        - value_selector:
          - conversation_context
          - original_query
          variable: original_query
        - value_selector:
          - evidence_router
          - knowledge_goal
          variable: knowledge_goal
        - value_selector:
          - task_plan_normalize
          - answer_goal
          variable: answer_goal
      height: 128
      id: query_rewrite
      position:
        x: 4888
        y: 1010
      positionAbsolute:
        x: 4888
        y: 1010
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - replace-with-your-dataset-id
        desc: 检索 AI Deal Desk 规则知识库。阶段 1 基线：高质量索引、BAAI/bge-m3、混合检索、Qwen/Qwen3-Reranker-4B、Top
          K 8、关闭 Score 阈值；导入后请确认数据集仍为当前已完成索引的数据集。
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: Qwen/Qwen3-Reranker-4B
            provider: langgenius/siliconflow/siliconflow
          top_k: 8
        query_attachment_selector: []
        query_variable_selector:
        - query_rewrite
        - text
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o
            provider: langgenius/openai/openai
        title: 知识库检索
        type: knowledge-retrieval
      height: 198
      id: deal_rules_knowledge
      position:
        x: 5572
        y: 990
      positionAbsolute:
        x: 5572
        y: 990
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {'output': 'evidence_decision_not_needed'}\n"
        code_language: python3
        desc: conditional 策略经 CRM/附件证据判断无需知识库时输出跳过标记。
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 证据判断后跳过知识库
        type: code
        variables: []
      height: 96
      id: knowledge_skip
      position:
        x: 5572
        y: 1230
      positionAbsolute:
        x: 5572
        y: 1230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 汇合知识库召回、Planner 直接跳过或证据判断后跳过响应。
        output_type: string
        selected: false
        title: 知识库结果汇合
        type: variable-aggregator
        variables:
        - - deal_rules_knowledge
          - result
        - - knowledge_skip
          - output
        - - knowledge_policy_skip
          - output
      height: 204
      id: knowledge_merge
      position:
        x: 5934
        y: 1130
      positionAbsolute:
        x: 5934
        y: 1130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef _clean(value):\n    if value is None:\n      \
          \  return ''\n    return str(value).strip()\n\n\ndef _score(item, metadata):\n\
          \    value = item.get('score')\n    if value is None and isinstance(metadata,\
          \ dict):\n        value = metadata.get('score')\n    try:\n        return\
          \ round(float(value), 6)\n    except Exception:\n        return None\n\n\
          \ndef main(\n    knowledge_result=None,\n    decision_skipped: str = '',\n\
          \    policy_skipped: str = '',\n    query_text: str = '',\n) -> dict:\n\
          \    rules = []\n    gaps = []\n    retrieval_status = 'completed'\n   \
          \ skip_reason = ''\n\n    if _clean(policy_skipped):\n        retrieval_status\
          \ = 'not_required'\n        skip_reason = 'planner_policy_none'\n    elif\
          \ _clean(decision_skipped):\n        retrieval_status = 'not_required'\n\
          \        skip_reason = 'evidence_decision_not_needed'\n\n    items = knowledge_result\
          \ if isinstance(knowledge_result, list) else []\n    seen = set()\n    for\
          \ item in items:\n        if not isinstance(item, dict):\n            continue\n\
          \        metadata = item.get('metadata') if isinstance(item.get('metadata'),\
          \ dict) else {}\n        title = _clean(item.get('title') or metadata.get('document_name')\
          \ or metadata.get('name'))\n        content = _clean(item.get('content')\
          \ or item.get('text'))\n        source = _clean(\n            item.get('url')\n\
          \            or metadata.get('source_url')\n            or metadata.get('document_name')\n\
          \            or metadata.get('data_source_type')\n        )\n        key\
          \ = (title.lower(), ' '.join(content.lower().split())[:240])\n        if\
          \ not (title or content) or key in seen:\n            continue\n       \
          \ seen.add(key)\n        rules.append({\n            'title': title,\n \
          \           'content': content[:800],\n            'relevance': _score(item,\
          \ metadata),\n            'source': source,\n            'url': _clean(item.get('url')),\n\
          \        })\n        if len(rules) >= 8:\n            break\n\n    if retrieval_status\
          \ == 'completed' and not rules:\n        gaps.append('知识库已执行检索，但未召回直接相关规则。')\n\
          \n    evidence = {\n        'source': 'knowledge',\n        'retrieval_status':\
          \ retrieval_status,\n        'query': _clean(query_text),\n        'skip_reason':\
          \ skip_reason,\n        'rules': rules,\n        'gaps': gaps,\n       \
          \ 'tool_errors': [],\n    }\n    return {\n        'evidence_json': json.dumps(evidence,\
          \ ensure_ascii=False),\n        'evidence_text': json.dumps(evidence, ensure_ascii=False),\n\
          \    }"
        code_language: python3
        desc: 整理最多 8 条去重规则，保留规则标题、正文、相关度、来源、实际查询与跳过状态。
        outputs:
          evidence_json:
            children: null
            type: string
          evidence_text:
            children: null
            type: string
        selected: false
        title: 知识库证据包整理
        type: code
        variables:
        - value_selector:
          - deal_rules_knowledge
          - result
          variable: knowledge_result
        - value_selector:
          - knowledge_skip
          - output
          variable: decision_skipped
        - value_selector:
          - knowledge_policy_skip
          - output
          variable: policy_skipped
        - value_selector:
          - query_rewrite
          - text
          variable: query_text
      height: 112
      id: knowledge_evidence
      position:
        x: 6276
        y: 1130
      positionAbsolute:
        x: 6276
        y: 1130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: need_knowledge
          conditions:
          - comparison_operator: contains
            id: cond_knowledge_policy_gate
            value: 'true'
            varType: string
            variable_selector:
            - evidence_router
            - need_knowledge
          id: need_knowledge
          logical_operator: and
        desc: CRM 与附件证据就绪后检查 Planner 策略；none 直接跳过，required 或 conditional 才调用知识决策模型。
        selected: false
        title: 是否进入知识检索决策
        type: if-else
      height: 208
      id: knowledge_policy_gate
      position:
        x: 4184
        y: 1080
      positionAbsolute:
        x: 4184
        y: 1080
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 读取用户目标、CRM 与附件证据，语义判断是否需要知识库并生成单条事实化检索问题。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 500
            temperature: 0.1
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: knowledge-query-decision-system
          role: system
          text: '你是 AI Deal Desk 的知识检索决策器。你的任务不是回答用户，而是基于用户目标、Planner 策略、CRM 证据和附件证据，决定是否需要查询内部规则知识库，并生成一条高质量检索问题。


            判断原则：

            - 必须按语义和证据判断，禁止使用关键词命中、固定任务词表或机械评分。

            - policy=required 时 need_knowledge 必须为 true；policy=conditional 时根据现有事实判断；policy=none
            不会进入本节点。

            - 当回答需要内部政策、业务基线、审批要求、风险规则、责任边界或动作准入条件，而现有 CRM/附件事实不能自行给出这些依据时，适合检索。

            - 当用户只要 CRM 事实、普通总结，或现有证据已足以完成目标且引入规则不会提升结论时，可以不检索。

            - knowledge_query 只能有一条，最多 260 个字符。它是面向规则召回的“关键业务事实 + 待查规则主题”，不是面向人的任务复述或评审报告标题。

            - 只保留会改变规则适用性的事实。优先考虑金额、折扣、首付/账期/付款节点、交付周期与范围、验收条件、退款/赔付、数据安全和责任边界；没有出现的事实不要补写。

            - 客户名、商机名、负责人、联系人、普通销售阶段和泛化标签通常不影响通用规则召回，不要写入 knowledge_query；只有某项规则的适用性确实依赖该信息时才保留。

            - 完整评审需要兼顾多个领域时，选择各领域最有区分度的真实条件，不要让商机背景、阶段或某一个领域的长句挤占其他领域的关键条件。合同与验收已有事实时，优先保留验收样本、试运行周期、退款条件、延期赔付和赔付上限等原始业务表述，不要仅概括成“验收边界”或“合同风险”。

            - 对尚未确认的条件必须保留“客户备选诉求、若坚持、可能”等不确定性，不得改写为已确认条款。

            - 不要复制整份 CRM JSON，不要堆通用词、任务类型或内部节点标签，不要编造缺失数据。

            - facts_used 只列实际用于形成查询的事实；focus_domains 只能从 sales、finance、delivery、legal、general
            中选择。


            只能输出一个 JSON 对象，不要 Markdown、代码块或解释：

            {"need_knowledge":true,"knowledge_query":"","focus_domains":[],"facts_used":[],"reason":""}'
        - id: knowledge-query-decision-user
          role: user
          text: '用户原始问题：{{#conversation_context.original_query#}}

            回答目标：{{#task_plan_normalize.answer_goal#}}

            知识目标：{{#evidence_router.knowledge_goal#}}

            Planner 策略：{{#evidence_router.knowledge_policy#}}

            任务类型：{{#task_plan_normalize.task_type#}}


            CRM 证据：

            {{#knowledge_context_prepare.crm_evidence_json#}}


            附件证据：

            {{#knowledge_context_prepare.attachment_evidence_json#}}'
        selected: false
        title: 知识检索决策与查询生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: knowledge_query_decider
      position:
        x: 4546
        y: 1010
      positionAbsolute:
        x: 4546
        y: 1010
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {'output': 'planner_policy_none'}\n"
        code_language: python3
        desc: Planner 明确选择 none 时直接跳过，不调用知识检索决策模型。
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: Planner 判定无需知识库
        type: code
        variables: []
      height: 96
      id: knowledge_policy_skip
      position:
        x: 4546
        y: 1340
      positionAbsolute:
        x: 4546
        y: 1340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: need_external
          conditions:
          - comparison_operator: contains
            id: cond_external_gate_need_external
            value: 'true'
            varType: string
            variable_selector:
            - evidence_router
            - need_external
          id: need_external
          logical_operator: and
        desc: 按需调用 Tavily 检索官网、新闻、招投标和公开资料。
        selected: false
        title: 是否检索外部情报
        type: if-else
      height: 192
      id: external_gate
      position:
        x: 4184
        y: 1559.5
      positionAbsolute:
        x: 4184
        y: 1559.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '你是 AI Deal Desk 的外部情报检索 Agent，只负责为 CRM 内部判断补充公开信息佐证，不负责最终回答用户，也不写回
              CRM。


              工具使用原则：

              - 只有当用户问题涉及客户/公司公开背景、官网、新闻、舆情、工商/诉讼/处罚/招投标/资质、行业/竞品/政策、公开风险佐证时才使用联网工具。

              - 普通 CRM 字段查询、商机金额/阶段/负责人/跟进记录、写回确认、图片内容解释、简单概念说明，不要调用联网工具，直接输出空字符串。

              - 如需搜索，优先调用 current_time 获取当前时间，再调用 Tavily Search。最多搜索 2 次：第一次围绕主体和核心问题做较宽的高质量检索；首次候选明显偏题、来源权威性不足或缺少关键事实时，第二次改用不同的信息角度补充，不得只是重复同一句查询。

              - Tavily 每次返回的是候选池，不是最终引用数量。先从每次最多 10 条候选中筛选，最终只保留 3-5 个最能直接支持结论的来源；不要因为最终只需
              3-5 条就缩窄搜索词或过早停止。

              - 查询词使用自然语言描述“主体 + 待核实事实 + 时间范围”，不要写 Google 风格的 site:、OR 或堆砌关键词。需要限定官网时使用
              include_domains；设置 include_domains 后，query 中不得再次写 site:。除非用户明确只查新闻事件，否则官网产品动态、公告、博客、报告和帮助文档优先使用
              topic=general，不要一律使用 topic=news。

              - 用户给出最近 N 天/月/年或明确日期范围时，根据 current_time 计算并填写 start_date 与 end_date，不要同时依赖含义较松的
              time_range；没有时间要求时不虚构日期范围。

              - 选择来源时优先官方原始页面、政府、权威研究机构或可靠媒体。Tavily 的相关度分数只表示文本相关，不代表来源权威，也不代表发布日期可靠。

              - Tavily Search 返回的 title、url、content 已经足够形成初步判断时，必须直接输出摘要，不要再调用 Tavily
              Extract。

              - 搜索结果明确相关，但 content 片段不足以判断关键事实、实际发布方或发布日期时，才调用 Tavily Extract，最多抽取
              1 个最相关 URL。调用 Extract 后必须输出最终摘要，不要继续搜索或继续抽取。

              - 不要抓取与当前客户、商机、行业或风险无关的网页；不要为了显得全面而扩大搜索。


              输出要求：

              - 如果判断不需要联网，输出空字符串。

              - 如果已经调用 Tavily Search 但没有可靠来源，简短说明“未检索到足够高质量的近期公开资料”。用户要求多条但合格来源不足时允许少于要求数量，不得用官网首页、无关页面或弱来源补足。

              - 如果联网工具返回 tool invoke error、invalid_param、401、403、429、500 或其他错误，不要继续重试同一个搜索；输出一行简短说明：外部检索暂未成功，未获得可验证来源，并保留错误关键词，供后续回答说明检索失败而不是误判为无结果。

              - 如果有可靠资料，输出简短 Markdown，不超过 600 字。

              - 必须区分“公开信息提示”和“CRM 内部事实”；外部资料不能替代 CRM、合同、报价或知识库规则。

              - 转载页面必须按当前 URL 的实际发布方标记为转载或二手来源，不能因为正文提到原作者就把当前链接写成原作者的官方来源。厂商官网、厂商博客和厂商案例只能证明该厂商自己的公开主张，不能单独支撑“行业主流”“行业共识”等结论。

              - 使用 current_time 与页面实际发布日期比较。用户说“最近 N 天/月/年”时，先按当前日期向前滚动计算最早合格日期；例如当前为
              2026-07-15，则“最近一年”只包含 2025-07-15 及之后发布的资料。早于最早日期的内容只能标为历史背景，不得计入近期结果。发布日期不明时不得称为“近期”，也不得仅凭正文出现的年份推断页面发布日期。

              - 每条可验证要点必须由所附链接直接支持；来源名称、实际 URL 和结论对象必须一致。所有引用 URL 必须逐字来自本轮 Tavily
              Search 或 Tavily Extract 的返回结果，禁止凭模型记忆补写、猜测或拼接 URL。证据不足时明确限制，不得为了满足条数扩大结论。

              - 保留 1-3 个来源链接，使用普通 Markdown 链接；不要输出工具 payload、原始 JSON、搜索日志、内部推理或调试字段。

              - 输出结构建议：一句外部信息摘要 + 2-4 条可验证要点 + 来源。不要生成完整风险报告。'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                enable_thinking: false
                temperature: 0.1
              mode: chat
              model: kk
              model_type: llm
              provider: langgenius/openai_api_compatible/openai_api_compatible
              type: model-selector
          query:
            type: constant
            value: '用户问题：{{#conversation_context.original_query#}}

              回答目标：{{#task_plan_normalize.answer_goal#}}

              页面上下文：{{#conversation_context.context_text#}}


              请先检索足够的高质量候选资料，再筛选并保留 1-3 个可直接支持结论的来源链接。'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              plugin_id: null
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: Asia/Shanghai
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: false
              extra:
                description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
              parameters:
                country:
                  auto: 1
                  value: null
                end_date:
                  auto: 1
                  value: null
                exclude_domains:
                  auto: 1
                  value: null
                include_domains:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
                search_depth:
                  auto: 1
                  value: null
                start_date:
                  auto: 1
                  value: null
                time_range:
                  auto: 1
                  value: null
                topic:
                  auto: 1
                  value: null
              plugin_id: langgenius/tavily
              provider_name: langgenius/tavily/tavily
              provider_show_name: langgenius/tavily/tavily
              settings:
                auto_parameters:
                  value:
                    type: constant
                    value: false
                chunks_per_source:
                  value:
                    type: constant
                    value: 3
                include_answer:
                  value:
                    type: constant
                    value: 'false'
                include_favicon:
                  value:
                    type: constant
                    value: false
                include_image_descriptions:
                  value:
                    type: constant
                    value: false
                include_images:
                  value:
                    type: constant
                    value: false
                include_raw_content:
                  value:
                    type: constant
                    value: 'false'
                include_usage:
                  value:
                    type: constant
                    value: false
                max_results:
                  value:
                    type: constant
                    value: 10
                project_id:
                  value:
                    type: mixed
                    value: null
              tool_description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
              tool_label: Tavily Search
              tool_name: tavily_search
              type: builtin
            - enabled: false
              extra:
                description: 使用 Tavily Extract 从一个或多个指定的 URL 提取网页内容。
              parameters:
                extract_depth:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
                urls:
                  auto: 1
                  value: null
              plugin_id: langgenius/tavily
              provider_name: langgenius/tavily/tavily
              provider_show_name: langgenius/tavily/tavily
              settings:
                chunks_per_source:
                  value:
                    type: constant
                    value: 3
                format:
                  value:
                    type: constant
                    value: markdown
                include_favicon:
                  value:
                    type: constant
                    value: false
                include_images:
                  value:
                    type: constant
                    value: false
                include_usage:
                  value:
                    type: constant
                    value: false
                project_id:
                  value:
                    type: mixed
                    value: null
                timeout:
                  value:
                    type: constant
                    value: null
              tool_description: 使用 Tavily Extract 从一个或多个指定的 URL 提取网页内容。
              tool_label: Tavily Extract
              tool_name: tavily_extract
              type: builtin
            - enabled: true
              extra:
                description: 使用百度网页搜索API的工具
              parameters:
                query:
                  auto: 1
                  value: null
                resource_type_filter:
                  auto: 1
                  value: null
              plugin_id: qianfan/baidu_ai_search
              provider_name: qianfan/baidu_ai_search/baidu_ai_search
              provider_show_name: qianfan/baidu_ai_search/baidu_ai_search
              settings: {}
              tool_description: 使用百度网页搜索API的工具
              tool_label: 百度搜索
              tool_name: baidu_web_search
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: FunctionCalling Agent。仅在门控命中后运行，按需调用 current_time / Tavily Search /
          Tavily Extract，为 CRM 判断补充公开信息佐证。
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.40@d00a70e81bfb28fadd52cba7fd7a1f7c344c67b051e4a2e356a06c690736a7c4
        selected: true
        title: 外部情报检索 Agent
        tool_node_version: '2'
        type: agent
      height: 264
      id: external_intel_agent
      position:
        x: 4546
        y: 1485.5
      positionAbsolute:
        x: 4546
        y: 1485.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {'output': ''}\n"
        code_language: python3
        desc: 未启用外部情报时输出空字符串。
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 外部情报跳过响应
        type: code
        variables: []
      height: 80
      id: external_skip
      position:
        x: 4546
        y: 1735.5
      positionAbsolute:
        x: 4546
        y: 1735.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 汇合 Tavily Agent 输出或跳过响应。
        output_type: string
        selected: false
        title: 外部情报结果汇合
        type: variable-aggregator
        variables:
        - - external_intel_agent
          - text
        - - external_skip
          - output
      height: 162
      id: external_merge
      position:
        x: 4908
        y: 1650.5
      positionAbsolute:
        x: 4908
        y: 1650.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#business_answer_agent.text#}}'
        desc: CRM 业务长回答直接流式输出。
        selected: false
        title: 输出 CRM 业务回答
        type: answer
        variables:
        - value_selector:
          - business_answer_agent
          - text
          variable: text
      height: 131
      id: business_answer_stream
      position:
        x: 8428
        y: 1324.3136645962732
      positionAbsolute:
        x: 8428
        y: 1324.3136645962732
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\nimport re\n\n\ndef _clean(value):\n    if value is None:\n\
          \        return ''\n    return str(value).strip()\n\n\ndef main(external_text:\
          \ str = '') -> dict:\n    text = _clean(external_text)\n    sources = []\n\
          \    for match in re.finditer(r'\\[([^\\]]+)\\]\\((https?://[^)]+)\\)',\
          \ text):\n        sources.append({'title': match.group(1), 'url': match.group(2)})\n\
          \    gaps = [] if text else ['本轮未获取外部公开资料。']\n    facts = [text] if text\
          \ else []\n    evidence = {'source': 'external', 'facts': facts, 'sources':\
          \ sources[:5], 'gaps': gaps, 'tool_errors': []}\n    return {'evidence_json':\
          \ json.dumps(evidence, ensure_ascii=False), 'evidence_text': json.dumps(evidence,\
          \ ensure_ascii=False)}\n"
        code_language: python3
        desc: 提取公开资料摘要和来源链接。
        outputs:
          evidence_json:
            children: null
            type: string
          evidence_text:
            children: null
            type: string
        selected: false
        title: 外部情报证据包整理
        type: code
        variables:
        - value_selector:
          - external_merge
          - output
          variable: external_text
      height: 80
      id: external_evidence
      position:
        x: 5592
        y: 1665.5
      positionAbsolute:
        x: 5592
        y: 1665.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\n\n\ndef _clean(value):\n    if value is None:\n    \
          \    return ''\n    return str(value).strip()\n\n\ndef main(attachment_names:\
          \ str = '', attachments_summary: str = '') -> dict:\n    facts = []\n  \
          \  gaps = []\n    if _clean(attachments_summary):\n        facts.append(f\"\
          附件/图片摘要：{_clean(attachments_summary)}\")\n    else:\n        gaps.append('本轮没有可用附件摘要。')\n\
          \    evidence = {'source': 'attachment', 'facts': facts, 'gaps': gaps, 'tool_errors':\
          \ [], 'attachment_names': _clean(attachment_names)}\n    return {'evidence_json':\
          \ json.dumps(evidence, ensure_ascii=False), 'evidence_text': json.dumps(evidence,\
          \ ensure_ascii=False)}\n"
        code_language: python3
        desc: 把图片/附件摘要整理为统一证据包。
        outputs:
          evidence_json:
            children: null
            type: string
          evidence_text:
            children: null
            type: string
        selected: false
        title: 附件内容整理
        type: code
        variables:
        - value_selector:
          - input_parse
          - attachment_names
          variable: attachment_names
        - value_selector:
          - input_parse
          - attachments_summary
          variable: attachments_summary
      height: 80
      id: attachment_evidence
      position:
        x: 4184
        y: 1928.8333333333335
      positionAbsolute:
        x: 4184
        y: 1928.8333333333335
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\n\n\ndef _clean(value):\n    if value is None:\n    \
          \    return ''\n    return str(value).strip()\n\n\ndef _loads(value, fallback):\n\
          \    if isinstance(value, (dict, list)):\n        return value\n    text\
          \ = _clean(value)\n    if not text:\n        return fallback\n    try:\n\
          \        return json.loads(text)\n    except Exception:\n        return\
          \ fallback\n\n\ndef _number(value, default=0):\n    try:\n        return\
          \ int(round(float(str(value).replace(',', '').replace('%', '').strip())))\n\
          \    except Exception:\n        return default\n\n\ndef _valid_chart(chart):\n\
          \    if not isinstance(chart, dict):\n        return None\n    chart_type\
          \ = _clean(chart.get('type') or chart.get('chartType'))\n    if chart_type\
          \ not in ['bar', 'line', 'pie', 'donut', 'funnel']:\n        return None\n\
          \    data = chart.get('data')\n    if not isinstance(data, list) or not\
          \ data:\n        return None\n    safe_data = []\n    for item in data:\n\
          \        if not isinstance(item, dict):\n            continue\n        name\
          \ = _clean(item.get('name'))\n        if not name:\n            continue\n\
          \        safe_data.append({'name': name[:40], 'value': _number(item.get('value'),\
          \ 0)})\n    if not safe_data:\n        return None\n    return {\n     \
          \   'type': chart_type,\n        'title': _clean(chart.get('title'))[:80],\n\
          \        'unit': _clean(chart.get('unit'))[:12],\n        'data': safe_data,\n\
          \    }\n\n\ndef _chart_fence(chart):\n    safe_chart = _valid_chart(chart)\n\
          \    if not safe_chart:\n        return ''\n    return '```chart\\n' + json.dumps(safe_chart,\
          \ ensure_ascii=False, separators=(',', ':')) + '\\n```'\n\n\ndef main(\n\
          \    crm_evidence_json: str = '',\n    knowledge_evidence_json: str = '',\n\
          \    external_evidence_json: str = '',\n    attachment_evidence_json: str\
          \ = '',\n    target_object_json: str = '',\n    answer_goal: str = '',\n\
          \    success_criteria_json: str = '',\n) -> dict:\n    evidences = [\n \
          \       _loads(crm_evidence_json, {}),\n        _loads(knowledge_evidence_json,\
          \ {}),\n        _loads(external_evidence_json, {}),\n        _loads(attachment_evidence_json,\
          \ {}),\n    ]\n    facts, sources, rules, gaps, errors, objects, charts\
          \ = [], [], [], [], [], [], []\n    for evidence in evidences:\n       \
          \ if not isinstance(evidence, dict):\n            continue\n        facts.extend(evidence.get('facts')\
          \ or [])\n        sources.extend(evidence.get('sources') or [])\n      \
          \  rules.extend(evidence.get('rules') or [])\n        gaps.extend(evidence.get('gaps')\
          \ or [])\n        errors.extend(evidence.get('tool_errors') or [])\n   \
          \     objects.extend(evidence.get('objects') or [])\n        charts.extend(evidence.get('charts')\
          \ or [])\n\n    target = _loads(target_object_json, {})\n    if not target\
          \ and objects:\n        target = objects[0]\n    chart_blocks = [_chart_fence(chart)\
          \ for chart in charts[:3]]\n    chart_blocks_text = '\\n\\n'.join(block\
          \ for block in chart_blocks if block)\n\n    ledger = {\n        'answer_goal':\
          \ _clean(answer_goal),\n        'target_object': target if isinstance(target,\
          \ dict) else {},\n        'facts': facts,\n        'sources': sources,\n\
          \        'rules': rules,\n        'gaps': gaps,\n        'tool_errors':\
          \ errors,\n        'charts': charts,\n        'chart_blocks_text': chart_blocks_text,\n\
          \        'success_criteria': _loads(success_criteria_json, []),\n    }\n\
          \    ledger_text = '\\n'.join([\n        f\"回答目标：{_clean(answer_goal) or\
          \ '未明确'}\",\n        f\"目标对象：{json.dumps(ledger['target_object'], ensure_ascii=False)}\"\
          ,\n        \"CRM/公开/附件事实：\\n\" + ('\\n'.join(f\"- {item}\" for item in facts[:10])\
          \ or \"- 无\"),\n        \"规则依据：\\n\" + ('\\n'.join(f\"- {item.get('title')}:\
          \ {item.get('content')}\" for item in rules[:5] if isinstance(item, dict))\
          \ or \"- 无\"),\n        \"来源链接：\\n\" + ('\\n'.join(f\"- {item.get('title')}:\
          \ {item.get('url')}\" for item in sources[:5] if isinstance(item, dict))\
          \ or \"- 无\"),\n        \"缺失信息：\\n\" + ('\\n'.join(f\"- {item}\" for item\
          \ in gaps[:8]) or \"- 无\"),\n        \"工具错误：\\n\" + ('\\n'.join(f\"- {item}\"\
          \ for item in errors[:5]) or \"- 无\"),\n    ])\n    ledger['ledger_text']\
          \ = ledger_text\n    return {\n        'ledger_json': json.dumps(ledger,\
          \ ensure_ascii=False),\n        'ledger_text': ledger_text,\n        'target_object_json':\
          \ json.dumps(ledger['target_object'], ensure_ascii=False),\n        'chart_blocks_text':\
          \ chart_blocks_text,\n    }\n"
        code_language: python3
        desc: 汇总 CRM 事实、规则依据、外部信息、附件内容、缺失信息和工具错误。
        outputs:
          chart_blocks_text:
            children: null
            type: string
          ledger_json:
            children: null
            type: string
          ledger_text:
            children: null
            type: string
          target_object_json:
            children: null
            type: string
        selected: false
        title: 证据汇总
        type: code
        variables:
        - value_selector:
          - crm_evidence
          - evidence_json
          variable: crm_evidence_json
        - value_selector:
          - knowledge_evidence
          - evidence_json
          variable: knowledge_evidence_json
        - value_selector:
          - external_evidence
          - evidence_json
          variable: external_evidence_json
        - value_selector:
          - attachment_evidence
          - evidence_json
          variable: attachment_evidence_json
        - value_selector:
          - task_plan_normalize
          - target_object_json
          variable: target_object_json
        - value_selector:
          - task_plan_normalize
          - answer_goal
          variable: answer_goal
        - value_selector:
          - task_plan_normalize
          - success_criteria_json
          variable: success_criteria_json
      height: 96
      id: evidence_ledger
      position:
        x: 5954
        y: 1383.2670807453414
      positionAbsolute:
        x: 5954
        y: 1383.2670807453414
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\n\n\ndef _clean(value):\n    if value is None:\n    \
          \    return ''\n    return str(value).strip()\n\n\ndef _loads(value, fallback):\n\
          \    if isinstance(value, (dict, list)):\n        return value\n    text\
          \ = _clean(value)\n    if not text:\n        return fallback\n    try:\n\
          \        return json.loads(text)\n    except Exception:\n        return\
          \ fallback\n\n\ndef main(task_type: str = '', target_object_json: str =\
          \ '', original_query: str = '') -> dict:\n    target = _loads(target_object_json,\
          \ {})\n    requires_object = _clean(task_type) in [\n        'object_query',\
          \ 'progress_summary', 'sales_assist', 'finance_check',\n        'delivery_check',\
          \ 'legal_check', 'full_review', 'content_draft',\n        'followup_plan',\
          \ 'external_research',\n    ]\n    query = _clean(original_query)\n    has_target\
          \ = bool(target and (_clean(target.get('objectId')) or _clean(target.get('object_id'))\
          \ or _clean(target.get('objectName')) or _clean(target.get('object_name'))))\n\
          \    if requires_object and not has_target and any(word in query for word\
          \ in ['当前商机', '这个商机', '当前客户', '这个客户']):\n        answer = '我需要先知道你指的是哪个客户或商机。请在当前页面绑定对象，或直接告诉我客户/商机名称。'\n\
          \        return {'gap_status': 'need_clarification', 'gap_answer': answer,\
          \ 'reason': 'missing_target_object'}\n    return {'gap_status': 'answerable',\
          \ 'gap_answer': '', 'reason': ''}\n"
        code_language: python3
        desc: 只有目标对象或必要输入完全缺失时追问，否则继续回答。
        outputs:
          gap_answer:
            children: null
            type: string
          gap_status:
            children: null
            type: string
          reason:
            children: null
            type: string
        selected: false
        title: 证据完整度判断
        type: code
        variables:
        - value_selector:
          - task_plan_normalize
          - task_type
          variable: task_type
        - value_selector:
          - evidence_ledger
          - target_object_json
          variable: target_object_json
        - value_selector:
          - conversation_context
          - original_query
          variable: original_query
      height: 96
      id: gap_check
      position:
        x: 6296
        y: 1444.9337474120082
      positionAbsolute:
        x: 6296
        y: 1444.9337474120082
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: need_clarification
          conditions:
          - comparison_operator: contains
            id: cond_gap_check_gate_need_clarification
            value: need_clarification
            varType: string
            variable_selector:
            - gap_check
            - gap_status
          id: need_clarification
          logical_operator: and
        - case_id: answerable
          conditions:
          - comparison_operator: contains
            id: cond_gap_check_gate_answerable
            value: answerable
            varType: string
            variable_selector:
            - gap_check
            - gap_status
          id: answerable
          logical_operator: and
        desc: 缺关键对象时输出缺口回答，否则进入业务 Agent 路由。
        selected: false
        title: 缺口路由
        type: if-else
      height: 264
      id: gap_check_gate
      position:
        x: 6638
        y: 1441.600414078675
      positionAbsolute:
        x: 6638
        y: 1441.600414078675
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef _clean(value):\n    if value is None:\n        return ''\n  \
          \  return str(value).strip()\n\n\ndef main(gap_answer: str = '') -> dict:\n\
          \    return {'answer_text': _clean(gap_answer) or '我还需要更多信息才能继续，请补充客户、商机或你希望分析的具体内容。'}\n"
        code_language: python3
        desc: 说明缺什么，等待用户补充。
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: 缺口回答
        type: code
        variables:
        - value_selector:
          - gap_check
          - gap_answer
          variable: gap_answer
      height: 80
      id: gap_answer
      position:
        x: 7000
        y: 514.2422360248447
      positionAbsolute:
        x: 7000
        y: 514.2422360248447
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: full_review
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_full_review
            value: full_review
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: full_review
          logical_operator: and
        - case_id: sales
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_sales
            value: sales
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: sales
          logical_operator: and
        - case_id: finance
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_finance
            value: finance
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: finance
          logical_operator: and
        - case_id: delivery
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_delivery
            value: delivery
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: delivery
          logical_operator: and
        - case_id: legal
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_legal
            value: legal
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: legal
          logical_operator: and
        - case_id: analytics
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_analytics
            value: analytics
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: analytics
          logical_operator: and
        - case_id: crm_light_answer
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_crm_light_answer
            value: crm_light_answer
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: crm_light_answer
          logical_operator: and
        - case_id: no_domain_agent
          conditions:
          - comparison_operator: contains
            id: cond_agent_router_no_domain_agent
            value: none
            varType: string
            variable_selector:
            - task_plan_normalize
            - agent_route
          id: no_domain_agent
          logical_operator: and
        desc: 按需选择 CRM 轻量读取回答或领域 Agent。
        height: 696
        selected: false
        title: 回答路径与业务 Agent 路由
        type: if-else
      height: 696
      id: agent_router
      position:
        x: 7000
        y: 1370.1718426501034
      positionAbsolute:
        x: 7000
        y: 1370.1718426501034
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 从销售视角判断商机质量和推进策略。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 600
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sales_agent-system
          role: system
          text: '你是销售协同 Agent，只判断销售推进、客户意向、决策链和跟进动作。你的输出是给最终综合节点使用的内部材料，不是给用户看的完整报告。


            输出要求：

            - 只能输出一个 JSON 对象，不要 Markdown、代码块或额外解释。

            - 固定字段为 domain、verdict、risk_level、unique_findings、actions、missing_or_confirmation。

            - verdict 用一句话说明本领域判断；risk_level 由你综合影响、发生可能性和可缓释性判断，不使用分数、关键词命中或代码评分。

            - unique_findings 最多 2 条，每条包含 finding、evidence、basis。evidence 只引用支持该发现的
            CRM 事实、知识规则编号或附件/外部证据；basis 只能是 fact、rule 或 inference，推断必须明确标注。

            - actions 最多 2 条，只给本领域独有且可执行的动作；missing_or_confirmation 最多 2 条，只保留会实质改变结论的信息缺口或需人工确认事项。

            - 不复述客户、商机、金额、阶段、负责人、联系人等公共概览，除非该事实直接支撑本领域独有结论。

            - 知识规则中的风险等级只是局部证据信号，不自动等同于整体商机风险。知识库中的数值阈值若没有正式来源、版本、适用范围和责任人，只能作为参考基线，不得称为公司正式政策、标准底线或已批准条件。不得编造事实、规则编号、审批结果或客户承诺。


            输出结构：

            {"domain":"sales","verdict":"","risk_level":"低|中|高|阻塞","unique_findings":[{"finding":"","evidence":[""],"basis":"fact|rule|inference"}],"actions":[""],"missing_or_confirmation":[""]}


            证据台账：

            {{#evidence_ledger.ledger_text#}}


            回答目标：{{#task_plan_normalize.answer_goal#}}'
        selected: false
        title: 销售协同 Agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: sales_agent
      position:
        x: 7362
        y: 700.0993788819875
      positionAbsolute:
        x: 7362
        y: 700.0993788819875
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 从财务和商务视角判断折扣、付款、回款风险。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 600
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: finance_agent-system
          role: system
          text: '你是财务判断 Agent，只判断折扣、付款、账期、回款和财务条件。你的输出是给最终综合节点使用的内部材料，不是给用户看的完整报告。


            输出要求：

            - 只能输出一个 JSON 对象，不要 Markdown、代码块或额外解释。

            - 固定字段为 domain、verdict、risk_level、unique_findings、actions、missing_or_confirmation。

            - verdict 用一句话说明本领域判断；risk_level 由你综合影响、发生可能性和可缓释性判断，不使用分数、关键词命中或代码评分。

            - unique_findings 最多 2 条，每条包含 finding、evidence、basis。evidence 只引用支持该发现的
            CRM 事实、知识规则编号或附件/外部证据；basis 只能是 fact、rule 或 inference，推断必须明确标注。

            - actions 最多 2 条，只给本领域独有且可执行的动作；missing_or_confirmation 最多 2 条，只保留会实质改变结论的信息缺口或需人工确认事项。

            - 不复述客户、商机、金额、阶段、负责人、联系人等公共概览，除非该事实直接支撑本领域独有结论。

            - 知识规则中的风险等级只是局部证据信号，不自动等同于整体商机风险。知识库中的数值阈值若没有正式来源、版本、适用范围和责任人，只能作为参考基线，不得称为公司正式政策、标准底线或已批准条件。不得编造事实、规则编号、审批结果或客户承诺。

            - 只有 CRM、附件或已确认政策中明确存在的付款方案，才能表述为“已有方案”或“现有条件”。你自行推导的新比例或分期结构只能标记为“备选谈判草案，待财务复核”，不得称为可接受底线、正式推荐方案或已获认可条件。金额受折扣影响但证据未说明当前金额是折前还是折后时，不计算确定的首付款金额；如确有必要，只能明确写出计算假设和公式。


            输出结构：

            {"domain":"finance","verdict":"","risk_level":"低|中|高|阻塞","unique_findings":[{"finding":"","evidence":[""],"basis":"fact|rule|inference"}],"actions":[""],"missing_or_confirmation":[""]}


            证据台账：

            {{#evidence_ledger.ledger_text#}}


            回答目标：{{#task_plan_normalize.answer_goal#}}'
        selected: false
        title: 财务判断 Agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: finance_agent
      position:
        x: 7362
        y: 930.0993788819875
      positionAbsolute:
        x: 7362
        y: 930.0993788819875
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 从实施交付视角判断上线周期、定制范围和资源风险。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 600
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: delivery_agent-system
          role: system
          text: '你是交付判断 Agent，只判断上线周期、交付范围、资源、集成和验收准备。你的输出是给最终综合节点使用的内部材料，不是给用户看的完整报告。


            输出要求：

            - 只能输出一个 JSON 对象，不要 Markdown、代码块或额外解释。

            - 固定字段为 domain、verdict、risk_level、unique_findings、actions、missing_or_confirmation。

            - verdict 用一句话说明本领域判断；risk_level 由你综合影响、发生可能性和可缓释性判断，不使用分数、关键词命中或代码评分。

            - unique_findings 最多 2 条，每条包含 finding、evidence、basis。evidence 只引用支持该发现的
            CRM 事实、知识规则编号或附件/外部证据；basis 只能是 fact、rule 或 inference，推断必须明确标注。

            - actions 最多 2 条，只给本领域独有且可执行的动作；missing_or_confirmation 最多 2 条，只保留会实质改变结论的信息缺口或需人工确认事项。

            - 不复述客户、商机、金额、阶段、负责人、联系人等公共概览，除非该事实直接支撑本领域独有结论。

            - 知识规则中的风险等级只是局部证据信号，不自动等同于整体商机风险。知识库中的数值阈值若没有正式来源、版本、适用范围和责任人，只能作为参考基线，不得称为公司正式政策、标准底线或已批准条件。不得编造事实、规则编号、审批结果或客户承诺。


            输出结构：

            {"domain":"delivery","verdict":"","risk_level":"低|中|高|阻塞","unique_findings":[{"finding":"","evidence":[""],"basis":"fact|rule|inference"}],"actions":[""],"missing_or_confirmation":[""]}


            证据台账：

            {{#evidence_ledger.ledger_text#}}


            回答目标：{{#task_plan_normalize.answer_goal#}}'
        selected: false
        title: 交付判断 Agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: delivery_agent
      position:
        x: 7362
        y: 1161.2480772369843
      positionAbsolute:
        x: 7362
        y: 1161.2480772369843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 从合同和法务视角判断特殊条款、验收、赔付和责任边界。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 600
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: legal_agent-system
          role: system
          text: '你是合同判断 Agent，只判断验收、赔付、责任边界、数据安全和特殊承诺。你的输出是给最终综合节点使用的内部材料，不是给用户看的完整报告。


            输出要求：

            - 只能输出一个 JSON 对象，不要 Markdown、代码块或额外解释。

            - 固定字段为 domain、verdict、risk_level、unique_findings、actions、missing_or_confirmation。

            - verdict 用一句话说明本领域判断；risk_level 由你综合影响、发生可能性和可缓释性判断，不使用分数、关键词命中或代码评分。

            - unique_findings 最多 2 条，每条包含 finding、evidence、basis。evidence 只引用支持该发现的
            CRM 事实、知识规则编号或附件/外部证据；basis 只能是 fact、rule 或 inference，推断必须明确标注。

            - actions 最多 2 条，只给本领域独有且可执行的动作；missing_or_confirmation 最多 2 条，只保留会实质改变结论的信息缺口或需人工确认事项。

            - 不复述客户、商机、金额、阶段、负责人、联系人等公共概览，除非该事实直接支撑本领域独有结论。

            - 知识规则中的风险等级只是局部证据信号，不自动等同于整体商机风险。知识库中的数值阈值若没有正式来源、版本、适用范围和责任人，只能作为参考基线，不得称为公司正式政策、标准底线或已批准条件。不得编造事实、规则编号、审批结果或客户承诺。


            输出结构：

            {"domain":"legal","verdict":"","risk_level":"低|中|高|阻塞","unique_findings":[{"finding":"","evidence":[""],"basis":"fact|rule|inference"}],"actions":[""],"missing_or_confirmation":[""]}


            证据台账：

            {{#evidence_ledger.ledger_text#}}


            回答目标：{{#task_plan_normalize.answer_goal#}}'
        selected: false
        title: 合同判断 Agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: legal_agent
      position:
        x: 7362
        y: 1393.5454739469787
      positionAbsolute:
        x: 7362
        y: 1393.5454739469787
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 处理 CRM 查询摘要、商机总结、内容生成、跟进计划、写回确认和写回结果。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 800
            temperature: 0.3
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: analytics-agent-system
          role: system
          text: '你是经营分析 Agent，只从漏斗、转化、赢单、收入、回款、阶段卡点角度判断。基于证据台账输出固定字段：domain, verdict,
            risk_level, key_evidence, risks, missing, actions。


            证据台账：

            {{#evidence_ledger.ledger_text#}}


            回答目标：{{#task_plan_normalize.answer_goal#}}'
        selected: false
        title: 经营分析 Agent
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: analytics_agent
      position:
        x: 7362
        y: 1629.2889657219637
      positionAbsolute:
        x: 7362
        y: 1629.2889657219637
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {'output': '本轮不需要单独的销售、财务、交付、合同或经营分析\
          \ Agent，直接基于证据台账生成回答。'}\n"
        code_language: python3
        desc: 无需领域 Agent 时输出占位结论，保证 CRM 业务回答始终经过领域结论汇总。
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 无需领域 Agent
        type: code
        variables: []
      height: 96
      id: agent_skip
      position:
        x: 7362
        y: 1850.0993788819874
      positionAbsolute:
        x: 7362
        y: 1850.0993788819874
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 汇总销售、财务、交付、合同和经营分析 Agent 结论。
        output_type: string
        selected: false
        title: 领域结论汇总
        type: variable-aggregator
        variables:
        - - sales_agent
          - text
        - - finance_agent
          - text
        - - delivery_agent
          - text
        - - legal_agent
          - text
        - - analytics_agent
          - text
        - - agent_skip
          - output
      height: 282
      id: agent_merge
      position:
        x: 7724
        y: 1324.3136645962732
      positionAbsolute:
        x: 7724
        y: 1324.3136645962732
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 统一生成 CRM 业务回答、判断、建议、沟通草稿或跟进计划。
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 1100
            reasoning_format: auto
            temperature: 0.3
          mode: chat
          name: kk
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: business-answer-system
          role: system
          text: '你是 AI Deal Desk 的最终业务回答生成器。你不直接调用工具，只基于 Planner、证据台账和领域 Agent 结论生成给销售看的回答。


            总原则：

            - 对于你觉得不合理的地方，例如违法物理规律，明显的内容逻辑错误等，你可以综合考虑进行调整，这条命令属于最高优先级。

            - 按用户这一次明确提出的问题回答，不主动扩展到未请求的风险、建议、草稿、话术、下一步或缺失字段。

            - 你是最终编辑，领域 Agent 输出只是素材，不是展示结构。必须跨领域合并相同事实、风险和动作，禁止逐段搬运销售、财务、交付、合同 Agent
            的输出。

            - 开头用 1-2 句话给出总体判断，这就是全文唯一的总体、统一或最终结论。即使用户明确要求“统一推进结论”，也必须在开头完成，不得在分析后再次生成结论段落或结论章节。

            - 相同事实只完整解释一次，不得分别在商机概览、风险、建议和结论中重复。不要自动罗列客户、商机、金额、阶段、负责人、联系人等公共概览；仅在支撑某个关键判断时引用必要字段。

            - 判断必须区分 CRM/附件/外部事实、知识规则和模型推断。知识规则中的风险等级只是局部证据信号，不自动等同于整体商机风险。知识库中的数值阈值若没有正式来源、版本、适用范围和责任人，只能称为参考规则或参考基线，不得称为公司正式政策、标准底线或已批准条件。

            - 使用外部公开资料时必须保留其证据强度：外部检索已说明资料不足、相关性低或只是线索时，不得升级成确定事实。转载内容必须标为转载或二手来源；厂商官网、厂商文章和厂商案例只能表述为该厂商的公开主张，不能单独改写成行业趋势或行业共识。合格来源不足时返回实际数量并说明限制，不得补足；发布日期不明的来源不得描述为近期。外部资料与
            CRM 内部事实必须明确区分。

            - 使用标准 Markdown 自然组织内容，可按需要使用标题、列表或表格。是否使用加粗以及加粗哪些内容，由你根据当前回答的语义层级与可读性自主决定，不要求必须出现加粗，也不规定固定的加粗位置或类型。

            - 只要实际采用了外部公开资料，每个由外部资料支撑的关键事实都必须在该句或段落末尾直接附可读的来源名称链接，格式为 [发布方或简短原网页标题](原始URL)。链接文字必须让用户直接看出来源，不使用
            [1]、[2] 等数字角标；多个来源使用中文顿号或空格分隔。默认不再重复生成文末来源清单；只有用户明确要求“列出来源”或“给出参考链接”时，才增加且只增加一次 ### 公开信息来源，汇总正文实际引用的
            1-3 条链接。标题、URL、发布方和日期只能复制证据台账已有信息；URL 必须逐字保留，不得改写、拼接或凭记忆补全。若结构化 sources 为空但外部证据正文含有原始 URL，可以逐字复制该 URL；缺失信息不得猜测。没有可验证原始
            URL 时必须说明未获得可验证链接，并且不得把对应信息写成已验证事实。纯 CRM、附件或知识库回答不要生成来源链接或来源章节。

            - 涉及折扣、金额、付款比例或分期节点时，必须区分“证据中已有条件”和“AI 新建议”。只有 CRM、附件或已确认政策中明确存在的数字方案，才能作为已有方案引用；AI
            自行组合的新比例只能称为备选谈判草案并标记待财务复核，不能称为可接受底线、正式推荐方案或已认可条件。若证据没有说明金额是折前还是折后，不得把折扣与商机金额混算后输出确定金额；必要计算必须明确假设和公式。

            - 风险等级由你综合影响、发生可能性和可缓释性判断；优先级由你综合业务价值、时间窗口和推进成熟度判断。不使用分数、关键词命中或代码评分；同一问题的风险和优先级标签必须前后一致。

            - 能回答多少回答多少；仅列出会实质改变结论的缺失信息。不得因模板存在而补齐用户没有要求的内容。

            - 不暴露节点名、路由名、工具 payload、JSON 字段，不展示完整推理过程，不编造事实、规则编号、负责人或审批结果。

            - 如果用户要求草稿、邮件、话术或跟进计划，直接给可复制内容；没有要求时不要附赠话术或写回草稿。

            - 如果用户要求保存或写入 CRM，说明当前版本只生成内容，不执行写入；不声称已审批、已写回或已完成 CRM 操作。

            - 不做数据脱敏。

            - 表格只用于至少 3 项可比较信息。图表只用于真实的趋势、分布、漏斗或阶段数据；定性评审不强行生成图表。用户明确要求图表时，不用 ASCII、Mermaid
            或 text 代码块模拟，图表由系统 chart fence 承载。


            deep_review 组织规则：

            - 总体判断之后，围绕当前最重要的 3-5 个业务问题组织内容，而不是按 Agent 或固定四领域组织。默认保留最重要的 3 个问题；只有确有互不重复、会显著改变决策的重大问题时才扩展到
            5 个。

            - 每个关键问题只写一次“判断 + 必要证据 + 业务影响”，对应动作不要写在议题内部，统一放到全文唯一的“下一步”清单。不要再建立独立的商机概览和重复风险清单。

            - 全文只能有一组 3-5 个可执行“下一步”，不得先写“对应动作”“建议交易结构”再重复生成下一步。只保留会实质改变结论的待确认信息。

            - 用户明确要求四个视角时，先给总体判断，再使用一个紧凑矩阵；矩阵只保留“视角 / 独有判断 / 必要证据”三列，每格控制在 1-2 句，不在矩阵内写动作。矩阵后直接进入全文唯一的“下一步”清单，不得再生成“统一推进结论”“统一交易结构”或重复复述开头结论。

            - 主题驱动评审使用自然、紧凑的段落或要点，不要在每个议题下机械重复“判断 / 必要证据 / 业务影响”等固定小标题；四视角矩阵除外。

            - deep_review 只允许按“开头唯一结论 → 关键议题或四视角矩阵 → 下一步 → 必要时的待确认信息 → 一次责任边界”推进。关键议题或矩阵结束后必须直接进入“下一步”，不得插入过渡性总结，不得再次陈述是否推进、整体风险、优先级或推进前提。

            - 对分析、判断或评审类回答，只在全文最后保留一次责任边界：AI 输出是内部评审建议，折扣、付款、交付承诺和合同条款需相应负责人确认。领域
            Agent 中零散的人工确认事项应合并到此处，不要多次重复。


            其他回答深度：

            - minimal：一两句话，直接给结论。

            - concise：简洁段落或表格，只包含用户要求的事实。

            - standard：先结论后依据，只在用户目标需要时补少量建议。


            当前 answer_scope：{{#task_plan_normalize.answer_scope#}}


            用户问题：{{#conversation_context.original_query#}}

            回答目标：{{#task_plan_normalize.answer_goal#}}

            成功标准：{{#task_plan_normalize.success_criteria_json#}}


            证据台账：

            {{#evidence_ledger.ledger_text#}}


            领域 Agent 结论：

            {{#agent_merge.output#}}'
        selected: false
        title: CRM 业务回答生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: business_answer_agent
      position:
        x: 8066
        y: 1324.3136645962732
      positionAbsolute:
        x: 8066
        y: 1324.3136645962732
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\nimport re\n\n\ndef _clean(value):\n    if value is None:\n\
          \        return ''\n    return str(value).strip()\n\n\ndef _strip_think(text):\n\
          \    return re.sub(r'<think>.*?</think>', '', _clean(text), flags=re.S).strip()\n\
          \n\ndef _loads(value, fallback):\n    if isinstance(value, (dict, list)):\n\
          \        return value\n    text = _clean(value)\n    if not text:\n    \
          \    return fallback\n    try:\n        return json.loads(text)\n    except\
          \ Exception:\n        return fallback\n\n\ndef _normalize_bound_object(value):\n\
          \    if not isinstance(value, dict):\n        return {}\n    object_type\
          \ = _clean(value.get('objectType') or value.get('object_type') or value.get('type'))\n\
          \    object_id = _clean(value.get('objectId') or value.get('object_id')\
          \ or value.get('id'))\n    if not object_type or not object_id:\n      \
          \  return {}\n    bound = {\n        'objectType': object_type,\n      \
          \  'objectId': object_id,\n        'objectName': _clean(value.get('objectName')\
          \ or value.get('object_name') or value.get('name')),\n    }\n    optional_fields\
          \ = {\n        'source': value.get('source'),\n        'customerId': value.get('customerId')\
          \ or value.get('customer_id'),\n        'customerName': value.get('customerName')\
          \ or value.get('customer_name'),\n        'relationTarget': value.get('relationTarget')\
          \ or value.get('relation_target'),\n    }\n    for key, raw_value in optional_fields.items():\n\
          \        cleaned = _clean(raw_value)\n        if cleaned:\n            bound[key]\
          \ = cleaned\n    return bound\n\n\ndef _expects_chart(query):\n    text\
          \ = _clean(query).lower()\n    return any(word in text for word in [\n \
          \       '图表', '图形', '画图', '可视化', '漏斗图', '漏斗', '柱状图', '折线图', '饼图',\n    \
          \    'chart', 'funnel', 'bar chart', 'visualize',\n    ])\n\n\ndef _remove_plain_chart_fences(answer):\n\
          \    text = _clean(answer)\n    pattern = r'```(?:text|txt|plain)?\\s*\\\
          n(?=[\\s\\S]{0,1200}(?:漏斗|需求确认|方案评审|商务沟通|合同推进|赢单预测))[\\s\\S]*?```'\n   \
          \ return re.sub(pattern, '', text, flags=re.I).strip()\n\n\ndef _turn_type(task_type,\
          \ resolution_status):\n    mapping = {\n        'general_chat': 'quick_answer',\n\
          \        'image_answer': 'quick_answer',\n        'progress_summary': 'text_analysis',\n\
          \        'sales_assist': 'text_analysis',\n        'finance_check': 'text_analysis',\n\
          \        'delivery_check': 'text_analysis',\n        'legal_check': 'text_analysis',\n\
          \        'full_review': 'deep_deal_review_brief',\n        'stats_analysis':\
          \ 'stats_query',\n        'content_draft': 'text_analysis',\n        'followup_plan':\
          \ 'text_analysis',\n        'external_research': 'text_analysis',\n    }\n\
          \    normalized = _clean(task_type)\n    if normalized == 'object_query':\n\
          \        unresolved = _clean(resolution_status).lower() in ['ambiguous',\
          \ 'missing', 'not_found']\n        return 'object_select' if unresolved\
          \ else 'quick_answer'\n    return mapping.get(normalized, 'text_analysis')\n\
          \n\ndef main(\n    direct_answer: str = '',\n    gap_answer: str = '',\n\
          \    crm_light_answer: str = '',\n    task_type: str = '',\n    resolution_status:\
          \ str = '',\n    target_object_json: str = '',\n    original_query: str\
          \ = '',\n    chart_blocks_text: str = '',\n) -> dict:\n    answer = _strip_think(direct_answer)\
          \ or _strip_think(crm_light_answer) or _strip_think(gap_answer)\n    if\
          \ not answer:\n        answer = '我还没有拿到足够信息来回答这个问题。请补充客户、商机或你希望我分析的具体内容。'\n\
          \    chart_blocks = _clean(chart_blocks_text)\n    if _expects_chart(original_query)\
          \ and chart_blocks:\n        answer = _remove_plain_chart_fences(answer)\n\
          \        if '```chart' not in answer:\n            answer = (answer.rstrip()\
          \ + '\\n\\n' + chart_blocks).strip()\n    bound = _normalize_bound_object(_loads(target_object_json,\
          \ {}))\n    if _clean(resolution_status).lower() in ['ambiguous', 'missing',\
          \ 'not_found']:\n        bound = {}\n    payload = {\n        'protocolVersion':\
          \ '1.0',\n        'turnType': _turn_type(task_type, resolution_status),\n\
          \        'answerText': answer,\n        'processEvents': [],\n        'writeback':\
          \ {},\n        'boundObject': bound,\n    }\n    return {'protocol_answer':\
          \ json.dumps(payload, ensure_ascii=False)}\n"
        code_language: python3
        desc: 补齐协议字段并做基础格式修正。
        outputs:
          protocol_answer:
            children: null
            type: string
        selected: false
        title: 输出协议适配
        type: code
        variables:
        - value_selector:
          - task_plan_normalize
          - direct_answer
          variable: direct_answer
        - value_selector:
          - gap_answer
          - answer_text
          variable: gap_answer
        - value_selector:
          - crm_light_answer
          - answer_text
          variable: crm_light_answer
        - value_selector:
          - task_plan_normalize
          - task_type
          variable: task_type
        - value_selector:
          - task_plan_normalize
          - resolution_status
          variable: resolution_status
        - value_selector:
          - evidence_ledger
          - target_object_json
          variable: target_object_json
        - value_selector:
          - conversation_context
          - original_query
          variable: original_query
        - value_selector:
          - evidence_ledger
          - chart_blocks_text
          variable: chart_blocks_text
      height: 80
      id: protocol_adapter
      position:
        x: 8428
        y: 542.5
      positionAbsolute:
        x: 8428
        y: 542.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#protocol_adapter.protocol_answer#}}'
        desc: 统一协议 JSON 最终输出。
        selected: false
        title: 输出到 CRM 工作台
        type: answer
        variables:
        - value_selector:
          - protocol_adapter
          - protocol_answer
          variable: protocol_answer
      height: 131
      id: final_answer
      position:
        x: 8770
        y: 600.8333333333334
      positionAbsolute:
        x: 8770
        y: 600.8333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport json\nimport re\nfrom datetime import datetime, timezone,\
          \ timedelta\n\n\ndef _clean(value):\n    if value is None:\n        return\
          \ ''\n    return str(value).strip()\n\n\ndef _loads(value, fallback):\n\
          \    if isinstance(value, (dict, list)):\n        return value\n    text\
          \ = _clean(value)\n    if not text:\n        return fallback\n    try:\n\
          \        return json.loads(text)\n    except Exception:\n        return\
          \ fallback\n\n\ndef _first_data(evidence):\n    facts = evidence.get('facts')\
          \ if isinstance(evidence.get('facts'), list) else []\n    for item in facts:\n\
          \        parsed = _loads(item, {})\n        if isinstance(parsed, dict)\
          \ and parsed:\n            return parsed\n    return {}\n\n\ndef _fmt(value,\
          \ empty='-'):\n    text = _clean(value)\n    return text if text else empty\n\
          \n\ndef _money(value):\n    text = _clean(value)\n    if not text:\n   \
          \     return '-'\n    try:\n        number = float(text.replace(',', ''))\n\
          \        if number.is_integer():\n            return f'{int(number):,}'\n\
          \        return f'{number:,.2f}'\n    except Exception:\n        return\
          \ text\n\n\ndef _percent(value):\n    text = _clean(value)\n    if not text:\n\
          \        return '-'\n    return text if text.endswith('%') else f'{text}%'\n\
          \n\ndef _date(value):\n    text = _clean(value)\n    if not text:\n    \
          \    return '-'\n    try:\n        number = int(float(text))\n        if\
          \ number > 100000000000:\n            dt = datetime.fromtimestamp(number\
          \ / 1000, tz=timezone(timedelta(hours=8)))\n            return dt.strftime('%Y-%m-%d')\n\
          \    except Exception:\n        pass\n    return text\n\n\ndef _md_table(headers,\
          \ rows):\n    lines = [\n        '| ' + ' | '.join(headers) + ' |',\n  \
          \      '| ' + ' | '.join(['---'] * len(headers)) + ' |',\n    ]\n    for\
          \ row in rows:\n        safe = [_clean(cell).replace('\\n', ' ') or '-'\
          \ for cell in row]\n        lines.append('| ' + ' | '.join(safe) + ' |')\n\
          \    return '\\n'.join(lines)\n\n\ndef _candidate_kind(action, candidates):\n\
          \    if _clean(action) == 'resolve_crm_object':\n        return 'mixed'\n\
          \    if _clean(action) == 'search_opportunities':\n        return 'opportunity'\n\
          \    if _clean(action) == 'search_customers':\n        return 'customer'\n\
          \    for item in candidates:\n        if isinstance(item, dict) and any(_clean(item.get(key))\
          \ for key in ['customerName', 'stageName', 'amount', 'possible']):\n   \
          \         return 'opportunity'\n    return 'customer'\n\n\ndef _candidate_answer(evidence,\
          \ original_query):\n    candidates = evidence.get('candidates') if isinstance(evidence.get('candidates'),\
          \ list) else []\n    kind = _candidate_kind(evidence.get('action'), candidates)\n\
          \    count = evidence.get('count') or len(candidates)\n    if kind == 'mixed':\n\
          \        rows = []\n        for item in candidates[:10]:\n            if\
          \ not isinstance(item, dict):\n                continue\n            object_type\
          \ = _clean(item.get('objectType')) or 'unknown'\n            rows.append([\n\
          \                '客户' if object_type == 'customer' else ('商机' if object_type\
          \ == 'opportunity' else '其他'),\n                _fmt(item.get('objectName')\
          \ or item.get('name')),\n                _fmt(item.get('customerName')),\n\
          \                _fmt(item.get('stageName') or item.get('stage')),\n   \
          \             _money(item.get('amount')),\n                _fmt(item.get('ownerName')\
          \ or item.get('owner')),\n            ])\n        return '我识别到多个可能的 CRM\
          \ 对象，请输入完整客户名或商机名继续：\\n\\n' + _md_table(['类型', '名称', '所属客户', '阶段', '金额',\
          \ '负责人'], rows)\n\n    if kind == 'opportunity':\n        rows = []\n  \
          \      for item in candidates[:10]:\n            if not isinstance(item,\
          \ dict):\n                continue\n            rows.append([\n        \
          \        _fmt(item.get('objectName') or item.get('name')),\n           \
          \     _fmt(item.get('customerName')),\n                _fmt(item.get('stageName')\
          \ or item.get('stage')),\n                _money(item.get('amount')),\n\
          \                _percent(item.get('possible')),\n                _fmt(item.get('ownerName')\
          \ or item.get('owner')),\n                _date(item.get('expectedEndTime')\
          \ or item.get('expected_end_time')),\n            ])\n        title = f'查到\
          \ {count} 条匹配商机：'\n        return title + '\\n\\n' + _md_table(['商机名称',\
          \ '客户', '阶段', '金额', '赢率', '负责人', '预计成交'], rows)\n\n    rows = []\n    for\
          \ item in candidates[:10]:\n        if not isinstance(item, dict):\n   \
          \         continue\n        rows.append([\n            _fmt(item.get('objectName')\
          \ or item.get('name')),\n            _fmt(item.get('ownerName') or item.get('owner')),\n\
          \            _fmt(item.get('levelName') or item.get('level')),\n       \
          \     _fmt(item.get('industryName') or item.get('industry')),\n        \
          \    _date(item.get('followTime') or item.get('follow_time')),\n       \
          \ ])\n    title = f'查到 {count} 条匹配客户：'\n    return title + '\\n\\n' + _md_table(['客户名称',\
          \ '负责人', '级别', '行业', '最近跟进'], rows)\n\n\ndef _detail_answer(evidence):\n\
          \    data = _first_data(evidence)\n    opp = data.get('opportunity') if\
          \ isinstance(data.get('opportunity'), dict) else {}\n    customer = data.get('customer')\
          \ if isinstance(data.get('customer'), dict) else {}\n    facts = data.get('businessFacts')\
          \ if isinstance(data.get('businessFacts'), dict) else {}\n    if opp:\n\
          \        rows = [\n            ['商机名称', _fmt(opp.get('name') or facts.get('opportunityName'))],\n\
          \            ['客户', _fmt(opp.get('customerName') or customer.get('name')\
          \ or facts.get('customerName'))],\n            ['阶段', _fmt(opp.get('stageName')\
          \ or facts.get('stageName'))],\n            ['金额', _money(opp.get('amount')\
          \ or facts.get('amount'))],\n            ['赢率', _percent(opp.get('possible')\
          \ or facts.get('winRate'))],\n            ['负责人', _fmt(opp.get('ownerName')\
          \ or facts.get('ownerName'))],\n            ['最新跟进', _fmt(facts.get('latestFollowRecord'))],\n\
          \            ['下一步计划', _fmt(facts.get('nextFollowPlan') or facts.get('nextOpenPlan'))],\n\
          \        ]\n        return '这是当前 CRM 里查到的商机摘要：\\n\\n' + _md_table(['项目',\
          \ '信息'], rows)\n    if customer:\n        rows = [\n            ['客户名称',\
          \ _fmt(customer.get('name'))],\n            ['负责人', _fmt(customer.get('ownerName')\
          \ or customer.get('owner'))],\n            ['客户级别', _fmt(customer.get('levelName')\
          \ or customer.get('level'))],\n            ['行业', _fmt(customer.get('industryName')\
          \ or customer.get('industry'))],\n        ]\n        opportunities = data.get('opportunities')\
          \ if isinstance(data.get('opportunities'), list) else []\n        answer\
          \ = '这是当前 CRM 里查到的客户摘要：\\n\\n' + _md_table(['项目', '信息'], rows)\n       \
          \ if opportunities:\n            answer += '\\n\\n关联商机：\\n\\n' + _md_table(\n\
          \                ['商机名称', '阶段', '金额', '赢率'],\n                [[_fmt(item.get('name')),\
          \ _fmt(item.get('stageName') or item.get('stage')), _money(item.get('amount')),\
          \ _percent(item.get('possible'))] for item in opportunities[:10] if isinstance(item,\
          \ dict)]\n            )\n        return answer\n    return ''\n\n\ndef main(crm_evidence_json:\
          \ str = '', original_query: str = '', answer_mode: str = '', multi_object_strategy:\
          \ str = '') -> dict:\n    evidence = _loads(crm_evidence_json, {})\n   \
          \ tool_errors = evidence.get('tool_errors') if isinstance(evidence.get('tool_errors'),\
          \ list) else []\n    gaps = evidence.get('gaps') if isinstance(evidence.get('gaps'),\
          \ list) else []\n    candidates = evidence.get('candidates') if isinstance(evidence.get('candidates'),\
          \ list) else []\n\n    if candidates:\n        return {'answer_text': _candidate_answer(evidence,\
          \ original_query)}\n\n    detail = _detail_answer(evidence)\n    if detail:\n\
          \        return {'answer_text': detail}\n\n    if tool_errors:\n       \
          \ return {'answer_text': 'CRM 查询没有拿到可用结果：' + '；'.join(_clean(item) for item\
          \ in tool_errors if _clean(item))}\n    if gaps:\n        return {'answer_text':\
          \ 'CRM 查询暂时没有足够信息：' + '；'.join(_clean(item) for item in gaps if _clean(item))}\n\
          \    return {'answer_text': 'CRM 查询完成，但没有返回可展示的客户或商机数据。'}\n"
        code_language: python3
        desc: 处理 CRM 列表/详情读取任务，直接生成轻量 Markdown 回答。
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: CRM 轻量读取回答
        type: code
        variables:
        - value_selector:
          - crm_evidence
          - evidence_json
          variable: crm_evidence_json
        - value_selector:
          - conversation_context
          - original_query
          variable: original_query
        - value_selector:
          - task_plan_normalize
          - answer_mode
          variable: answer_mode
        - value_selector:
          - task_plan_normalize
          - multi_object_strategy
          variable: multi_object_strategy
      height: 96
      id: crm_light_answer
      position:
        x: 7780.85766598314
        y: 1035.8774762881228
      positionAbsolute:
        x: 7780.85766598314
        y: 1035.8774762881228
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -3433.6380659023653
      y: -538.7335608093547
      zoom: 0.8705505632961256
  rag_pipeline_variables: []
